@charset "utf-8";

img, object, embed, video {
	max-width: 100%;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/* ---- Breakpoints set up for Bootstrap ---- */

/* -- Extra Small Layout - 767px and below -- */

.header {
	height: 50px;
	background-color: #FFFFFF;
	-moz-box-shadow: 0 0px 8px #999;
	-webkit-box-shadow: 0 0px 8px #999;
	box-shadow: 0 0px 8px #999;
	padding: 0;
	margin: 0;
	width: 100%;
	position: relative;
	z-index: 50;
}
.hdr-left {
	height: 40px;
	margin-top: 5px;
}
.headlogo {
	display: block;
	min-width: 100px;
	height: 40px;
	background: url(../images/hdr-pwe-logo.jpg) no-repeat top center;
	background-size: contain;
	border-style: none;
}
input.pager {
	display: none;
}
.sec-nav, .vid-controls {
	width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #2a2a2a;
}
.sec-nav {}
.vid-controls {
	position: relative;
	z-index: 100;
	-webkit-box-shadow: 0px 0px 7px 3px rgba(33,33,33,1);
	-moz-box-shadow: 0px 0px 7px 3px rgba(33,33,33,1);
	box-shadow: 0px 0px 7px 3px rgba(33,33,33,1);
}
.sec-nav .btn-container, .vid-controls .btn-container {
	padding: 4px 0;
	margin: 0;
}
.vidControlBox {
	text-align: right;
}
input.vidControl {
	border: none;
	color: #fff;
	background: transparent;
	display: inline-block;
	height: 30px;
	width: 30px;
	margin:3px auto;
}
.main-content {
	background: url(../images/blak-bkgd.jpg) no-repeat center center #333;
	background-size: cover;
	-webkit-box-shadow: inset 0px 0px 7px 3px rgba(33,33,33,1);
	-moz-box-shadow: inset 0px 0px 7px 3px rgba(33,33,33,1);
	box-shadow: inset 0px 0px 7px 3px rgba(33,33,33,1);
	width: 100%;
    margin: 0 auto -5px auto;
    padding: 0;
}
.footer {
	border-top: 5px solid #662E91;
	background-color: #fff;
	padding: 0;
	margin: 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 80px;
}
.footer .container {}
.ftr-lft {
	text-align: left;
	margin: 10px 0;
}
.ftr-rt {
	text-align: right;
	margin: 10px 0;
	font-size: .85em;
	color: #666;
}
.footlogo {
	display: block;
	min-width: 100px;
	height: 50px;
	background: url(../images/hdr-pwe-logo.jpg) no-repeat top left;
	background-size: contain;
	border-style: none;
}

/* -- Small Layout - 768px and up -- */

@media only screen and (min-width: 768px) {

	.header {
		display: none;
	}
	input.pager {
		display: block;
	}
	.vidControlBox {
		text-align: left;
	}
	input.vidControl {
		height: 25px;
		width: 25px;
		margin: 3px auto;
	}
}

/* -- Medium Layout - 992px and up -- */

@media only screen and (min-width: 992px) {

	

}

/* -- Large Layout - 1200px and up -- */

@media only screen and (min-width: 1200px) {

	

}