@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,700');

html, body{
	height: 100%;
	height: 100vh;
	width: 100%;
	max-width: 100vw;
	margin: 0;
	padding: 0;
	font-family: "proxima-nova-n1", 'proxima-nova', 'Raleway', sans-serif;
	background: transparent;
}
body {
	overflow-x: hidden;
}
.row {
	max-width: 100vw;
}
p {}
a {color: #d75426;}
a:hover, a:focus {color: #f58000;}
h1 {
	font-family: "proxima-nova-n1", 'proxima-nova', 'Raleway', sans-serif;
	font-weight: 100;
	margin: 0;
	padding: 0;
	color: #fff;
	text-align: center;
	text-shadow: 1px 1px 5px rgba(55, 55, 55, 1);
}
h2 {
	font-family: "proxima-nova-n1", 'proxima-nova', 'Raleway', sans-serif;
	font-weight: 100;
	margin: 0;
	padding: 0;
	color: #333;
	text-align: center;
	text-shadow: 1px 1px 5px rgba(255, 255, 255, 1);
}
h3 {
	font-family: "proxima-nova-n1", 'proxima-nova', 'Raleway', sans-serif;
	font-weight: 100;
}
h4 {
	font-family: "proxima-nova-n1", 'proxima-nova', 'Raleway', sans-serif;
	font-weight: 100;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 0;
}
h5 {
	font-weight: 300;
	text-align: center;
	margin: 0;
	padding: 0;
}
h6 {
	font-weight: 600
}

.discl {
	font-size: .9em;
	margin: 10px 0;
}
.shadow {
	text-shadow: 0px 0px 10px rgba(150, 150, 150, 1);
}
.center {text-align: center;}
.img-resp-loc {
	display: block;
	height: 50px;
	max-width: 100%;
	width: 100%
}
.clearer {
	clear: both;
}
.spacer10 {
	height: 10px;
	margin: 0;
	padding: 0;
}
.spacer20 {
	height: 20px;
	margin: 0;
	padding: 0;
}
.spacer30 {
	height: 30px;
	margin: 0;
	padding: 0;
}
.spacer50 {
	height: 50px;
	margin: 0;
	padding: 0;
}
.spacer250 {
	height: 250px;
	margin: 0;
	padding: 0;
}
.lft-margin-20 {
	margin-left: 20px;
}
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

/*---- BOUNCING ARROW ARROW ----*/
.wakeup-arrow {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left:-25px;
  width: 50px;
  height: 50px;
  z-index: 500;
  background-image: url(../images/wakeup-arrow.png);
  -webkit-animation:bounce 1s infinite;
}
@-webkit-keyframes bounce {
  0%       { bottom:5vh; }
  25%, 75% { bottom:6vh; }
  50%      { bottom:8vh; }
  100%     { bottom:4vh; }
}

.js div#preloader { 
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fff;
}
.js div#preloader .loader-container { 
    position: inherit;
    top: 30%;
    left: 50%;
    width: 150px;
    margin-left: -75px;
}
.js div#preloader .loader-container img {
    display: block;
    margin: 30px auto;
}

/*---- LEARN MORE BUTTON ----*/
#exp-btn {
    display: block;
    position:fixed;
    z-index: 50;
    top: 35%;
    right: -100px;
    height: 120px;
    width: 100px;
}
#exp-btn .exp-link {
    display: block;
    height: 120px;
    width: 100px;
    background: url('../images/exp-btn-up.png') no-repeat;
    background-size: cover;
    outline: 0;
}
#exp-btn .exp-link:hover {
    background: url('../images/exp-btn-hover.png') no-repeat;
}



.content-teal {
  background-color: #0097a8;
}
.content-org {
  background-color: #f58000;
}
.content-dkorg {
  background-color: #d75426;
}
.content-violet {
  background-color: #b73f7c;
}
.content-ltgrey {
  background-color: #f2f2f2;
  -moz-box-shadow: inset 0 0px 8px #999;
	-webkit-box-shadow: inset 0 0px 8px #999;
	box-shadow: inset 0 0px 8px #999;
}
.content-white {
	background-color: #fff;
}
.content-ltblue {
	background-color: #76c5e4;
}


.txt-violet{
	color: #b73f7c;
}
.txt-plum {
	color: #551b57;
}
.txt-teal {
	color: #3a8dad;
}
.txt-dkblue {
	color: #145a7b;
}


.img-btn {
    position: relative;
    width: 50%;
}
.img-btn img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.img-btn:hover img {
  opacity: 0.6;
}

.voya-modal .modal-dialog {
	padding: 0;
}
.voya-modal .modal-dialog .modal-content {
	background-color: #000;
	padding: 0;
	height: auto;
	margin-top: 25vh;
	border-radius: 0;
}
.movie-push {
	margin-top: 56.25%;
}
.movie-container {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
}


/*Clicking down on an input type=image can produce a dotted outline (Does this in Firefox 3.6.8 but not Firefox 4). To remove it:*/
input::-moz-focus-inner { 
  border: 0; 
}

.touch {
  background-color: black;
}
.notouch {
  background-color: green;
}




/* ------- ANIMATE CC req'd styles ------- */

#enroll_canvas {
  margin:auto;
}
#enroll_container {
	padding: 0;
}
#om_canvas {
  margin:auto;
}
#om_block_container {
	padding: 0;
}
#pfd_block_container {
	padding: 0;
}
#mobile_block_container {
	padding: 0;
}

