<!-- Start ABOUT content -->
<section id="about" class="content-block">
	<div class="valign"><span class="image fit primary"><img src="assets/images/pic01.jpg" alt="" /></span>
		<div class="container-fluid">
			<div class="row">
				<div class="col-10 offset-1">
					<div class="">
						<img src="./assets/images/scott.jpg" alt="picture of Scott">
						<h2>About me</h2>
						<p><span class="para-intro">Hello, my name is Scott.</span> I'm a <strong>Visual Storyteller</strong> with demonstrated experience delivering poignant, strategy-driven video content. I'm proficient in concept development, pre-production planning, editing, animation/motion graphics, color grading, and sound design. As a seasoned, independent professional, experinced working with high-profile corporate and governement clients, I'm dedicated to providing top-notch solutions, throughout the production process, ensuring that the outcome meets or exceeds initiative goals.</p>
						<p>When I'm not behind a camera or a computer screen, I look for opportunities to enjoy camping, sailing and other outdoor exploration. <br/><strong>I bring this sense of adventure, along with thought leadership and roll-up-the-sleeves tenacity, to every project I work on</strong>.</p>
					</div>
				</div>
				<div class="col-12">
					<button class="btn btn-lrg" onclick="window.location.href='./assets/docs/rsVivilecchia_resume.pdf';"><i class="far fa-file-pdf fa-2x"></i><span>&nbsp;&nbsp;&nbsp;my resume</span></button>
				</div>
            </div>
        </div>
    </div>
	<a href="#work" class="goto-next scrolly">scroll to next section</a>
</section><!-- End ABOUT content -->