<!-- Start ABOUT content -->
<section id="about" class="content-block">
	<div class="valign">
		<span class="image fit primary"><img src="assets/images/pic04.jpg" alt="sound insulation texture" /></span>
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 col-md-10 offset-md-1">
					<img src="./assets/images/scott.jpg" alt="picture of Scott">
					<h2>About me</h2>
					<p><span class="para-intro">Hello, my name is Scott.</span> I'm a <strong>Visual Storyteller</strong> with demonstrated experience delivering poignant, strategy-driven video content. I'm proficient in concept development, pre-production planning, editing, animation/motion graphics, color grading, and sound design.</p>
				</div>
			</div>
			<div class="row whiteBox">
				<div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
					<h1>" ... I bring this spirit of adventure, along with thought leadership, and roll-up-the-sleeves tenacity to every project I work on."</h1>
				</div>
            </div>
			<div class="row">
				<div class="col-12 col-md-10 offset-md-1">
					<p>As a seasoned, independent professional, experienced working with high-profile corporate and government clients, I'm dedicated to providing top-notch solutions, throughout the production process, ensuring that the outcome meets or exceeds goals.</p>
					<p>When I'm not behind a camera or at a computer screen, I look for opportunities to enjoy camping, sailing and other outdoor exploration. I&nbsp;bring this spirit of adventure, along with thought leadership, and roll-up-the-sleeves tenacity to every project I work on.</p>
					<div class="spacer-20px"></div>
				</div>
			</div>			
			<div class="row">
				<div class="col-12">
					<button class="btn btn-lrg" onclick="window.location.href='./assets/docs/rsVivilecchia_resume.pdf';"><i class="far fa-file-pdf fa-2x"></i><span>&nbsp;&nbsp;&nbsp;My Resume</span></button>
				</div>
			</div>
        </div>
    </div>
	<div class="spacer-50px"></div>
	<a href="#work" class="goto-next scrolly">scroll to next section</a>
</section><!-- End ABOUT content -->