<!-- Start ABOUT content -->
<section id="about" class="content-block">
	<div class="valign"><span class="image fit primary"><img src="assets/images/pic02.jpg" alt="" /></span>
		<div class="container-fluid">
			<div class="row">
				<div class="col-10 offset-1">
					<div class="">
						<img src="./assets/images/scott.jpg" alt="picture of Scott">
						<h2>About me</h2>
						<p><span class="para-intro">Hi, my name is Scott.</span> I'm an independent creative, focused on interactive video&mdash;specifically, a deeper integration of code and video to deliver concise, memorable messages through a highly engaging, narrative, user-centered experience. My prior work includes videos and web apps for dozens of well-known, Fortune 500 corporate clients,  city and state governments, and NGO's.</p>
						<p>When I'm not behind a camera or a computer screen, I try to enjoy sailing, camping and other outdoor exploration, but most of my free time is spent renovating and restoring the historic seaside cottage where I live.</p>
						<p>As project leader, or as just another cog in the machine, I bring this sense of adventure, a focused ingenuity, and roll-up-the-sleeves tenacity, to every project I work on.</p>
					</div>
				</div>
				<div class="col-12">
					<button class="btn btn-lrg" onclick="window.location.href='./docs/rsVivilecchia_resume.pdf';"><i class="far fa-file-pdf fa-2x"></i><span>&nbsp;&nbsp;&nbsp;my resume</span></button>
				</div>
            </div>
        </div>
    </div>
	<a href="#contact" class="goto-next scrolly">Next</a>
</section><!-- End ABOUT content -->