<div class="row whiteBox">
    <div class="col-12">
        <h3>My capabilities</h3>
        <hr>
    </div>
    <div class="col-12">
        <div id="capabilitiesLinks" class="container">
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-0 col-xl-5 offset-xl-1">
                    <a href="./strategy" class="capabilityLink" id="#capability_1">Strategy & Planning</a>
                </div>
                <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-0 col-xl-5">
                    <a href="./editing" class="capabilityLink" id="#capability_2">Video Editing</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-0 col-xl-5 offset-xl-1">
                    <a href="./motion" class="capabilityLink" id="#capability_3">Motion Graphics & Animation</a>
                </div>
                <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-0 col-xl-5">
                    <a href="./color" class="capabilityLink" id="#capability_4">Color Grading</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-0 col-xl-5 offset-xl-1">
                    <a href="./interviewing" class="capabilityLink" id="#capability_5">Interviewing & Videography</a>
                </div>
                <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-0 col-xl-5">
                    <a href="./design" class="capabilityLink" id="#capability_6">Graphic Design & Illustration</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-0 col-xl-5 offset-xl-1">
                    <a href="./ui" class="capabilityLink" id="#capability_7">UI/UX Design</a>
                </div>
                <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-0 col-xl-5">
                    <a href="./web" class="capabilityLink" id="#capability_8">Front-end web</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-0 col-xl-5 offset-xl-1"></div>
                <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-0 col-xl-5"></div>
            </div>
        </div>
    </div>
</div>