
<!-- Start Color Grading content -->
<section id="color" class="content-block">
	<div class="valign"><span class="image fit primary"><img src="assets/images/pic03.jpg" alt="tight closeup of computer screen showing color wheels for footage grading" /></span>
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 col-sm-10 offset-sm-1">
					<div class="text-center">
						<h2>Color Grading</h2>
					</div>
				</div>
            </div>
			<div class="row whiteBox">
				<div class="col-12 col-sm-10 offset-sm-1">
					<div class="text-center">
						<h4>Great color sets the mood, enhances the story, and adds a professional touch.</h4>
					</div>
				</div>
            </div>
			<div class="row">
				<div class="col-12 col-sm-10 offset-sm-1">
					<p>As a color grading and correction expert, I understand the importance of shot matching&mdash;balancing exposure and tint across different cameras and lighting situations, making the footage look like it was shot at the same time and place, ensuring that the finished piece is consistent and professional.</p>
					<p>I can bring out the beauty that’s hidden in any LOG footage, but I have special expertise with the BRAW format from Black Magic cameras. Using the powerful color tab in DaVinci Resolve, I can set the mood and look of your film by defining its colors, creating a cohesive and polished final product.</p>
				</div>
			</div>
			{% include capabilities.html %}
        </div>
    </div>
</section><!-- End Color Grading content -->