<!-- Start CONTACT content -->
<section id="contact" class="content-block">
	<div class="valign">
		<span class="image fit primary"><img src="assets/images/pic03.jpg" alt="" /></span>
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 col-md-10 offset-md-1">
					<h2>Drop me a note...</h2>
					<p>if you've got a <em>project in peril</em>,<br/> if your <em>team needs talent</em>,<br/> if you have a <em>video without vision</em>,<br/> if your <em>website is weak-sauce</em>....</p>
					<p>I look forward to hearing about your project, and discussing how we can accomplish your goals.</p>
				</div>
			</div>
			<div class="row whiteBox">
				<form id="contactForm" class="contact" name="vi-vi.io contact" netlify>
					<div class="container">
						<!-- <div class="row"></div> -->
						<div class="row input-container">
							<div class="col-12">
								<div class="styled-input wide">
									<input type="text" required />
									<label>Name</label> 
								</div>
							</div>
							<div class="col-12 col-md-6 col-sm-12">
								<div class="styled-input">
									<input type="text" required />
									<label>Email</label> 
								</div>
							</div>
							<div class="col-12 col-md-6 col-sm-12">
								<div class="styled-input">
									<input type="text" required />
									<label>Phone Number</label> 
								</div>
							</div>
							<div class="col-12">
								<div class="styled-input wide">
									<textarea required></textarea>
									<label>Message</label>
								</div>
							</div>
							<div class="col-12">
								<button type="submit" class="btn btn-lrg right-btn"><i class="far fa-paper-plane fa-2x"></i><span>&nbsp;&nbsp;&nbsp;Send Message</span></button>
							</div>
						</div>
					</div>
				</form>
				<div class="container">
					<div class="row">
						<div class="col-8 offset-2">
							<div class="result valign" id="postSent">
								<div>
									<h4 class="text-center">Thanks for reaching out!</h4>
									<hr>
									<p>Your message is on it's way. I'll review your inquiry, and get back to you soon.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-8 offset-2">
							<div class="valign result" id="postError">
								<div>
									<h4 class="text-center">Oh shoot, you broke it!</h4>
									<hr>
									<p><strong>Just kidding. It's almost definitely my fault. But I'll be keeping an eye on you.... ;-)</strong></p>
									<p>Please <a href="mailto:rscott@vi-vi.io?subject=Error notification from vi-vi.io contact form">email me</a>, and let me know you're having problems</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="spacer-20px"></div>
					<p class="text-center">Or you can just reach out directly:<br/>//P <a href="tel:+16176784222">617 678 4222</a><br/>//E <a href="mailto:rscott@vi-vi.io?subject=Mail from vi-vi.io contact form">rscott@vi-vi.io</a></p>
				</div>
			</div>
		</div>
    </div>
</section><!-- End CONTACT content -->