<!-- Start CONTACT content -->
<section id="contact" class="content-block">
	<div class="valign">
		<span class="image fit primary"><img src="assets/images/pic03.jpg" alt="" /></span>
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<h2>Drop me a note</h2>
					<p>If you've got a project in peril, if your team needs talent, if you have a video without vision, if your website is weak sauce....ok, that's enough.... You know what to do. I look forward to hearing from you.</p>
				</div>
			</div>
			<div class="row">
				<form class="contact" netlify>
					<div class="container">
						<!-- <div class="row"></div> -->
						<div class="row input-container">
							<div class="col-12">
								<div class="styled-input wide">
									<input type="text" required />
									<label>Name</label> 
								</div>
							</div>
							<div class="col-12 col-md-6 col-sm-12">
								<div class="styled-input">
									<input type="text" required />
									<label>Email</label> 
								</div>
							</div>
							<div class="col-12 col-md-6 col-sm-12">
								<div class="styled-input">
									<input type="text" required />
									<label>Phone Number</label> 
								</div>
							</div>
							<div class="col-12">
								<div class="styled-input wide">
									<textarea required></textarea>
									<label>Message</label>
								</div>
							</div>
							<div class="col-12">
								<div class="btn-lrg submit-btn">Send Message</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="row">
				<div class="col-12">
					<p class="text-center">Or you can just reach out directly:<br/>//P <a href="tel:+16172949493">617 294 9493</a><br/>//E <a href="mailto:rscott@vi-vi.io?subject=Mail from vi-vi.io contact form">rscott@vi-vi.io</a></p>
				</div>
			</div>
		</div>
    </div>
</section><!-- End CONTACT content -->