
<!-- Start UI/UX Design content -->
<section id="banner">
	<div id="bannerTitle"></div>
</section>
<section id="ui" class="content-block">
	<div class="valign"><span class="image fit primary"><img src="assets/images/pic04.jpg" alt="sound insulation texture" /></span>
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 col-sm-10 offset-sm-1">
					<div class="text-center">
						<h2>Digital Design</h2>
					</div>
				</div>
            </div>
			<div class="row whiteBox">
				<div class="col-12 col-sm-10 offset-sm-1">
					<div class="text-center">
						<h4></h4>
					</div>
				</div>
            </div>
			<div class="row">
				<div class="col-12 col-lg-6">
					<h4>Disruptive 404 Page</h4>
					<div class="modalBtn-box">
						<div class="link-icon"><i class="fas fa-external-link-alt"></i></div>
						<a href="./voya404"><img src="assets/images/digital/thumb_voya404.png" alt="Web design thumbnail depicting a man and woman looking at a map"></a>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<h4>Secure B2B Sales Portal</h4>
					<div class="modalBtn-box">
						<div class="link-icon"><i class="fas fa-external-link-alt"></i></div>
						<a href="./voyaRFP"><img src="assets/images/digital/thumb_voyaRFP.png" alt="Web design thumbnail depicting a password entry form"></a>
					</div>
				</div>
			</div>
			{% include capabilities.html %}
        </div>
    </div>
</section><!-- End UI/UX Design content -->