
<!-- Start UI/UX Design content -->
<section id="banner">
	<div id="bannerTitle"></div>
</section>
<section id="ui" class="content-block">
	<div class="valign"><span class="image fit primary"><img src="assets/images/pic04.jpg" alt="sound insulation texture" /></span>
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 col-sm-10 offset-sm-1">
					<div class="text-center">
						<h2>Digital Design</h2>
					</div>
				</div>
            </div>
			<div class="row whiteBox">
				<div class="col-12 col-sm-10 offset-sm-1">
					<div class="text-center">
						<h4></h4>
					</div>
				</div>
            </div>
			<div class="row">
				<div class="col-12 col-sm-10 offset-sm-1">
					<p>CONTENT COMING SOON.</p>
				</div>
			</div>
			{% include capabilities.html %}
        </div>
    </div>
</section><!-- End UI/UX Design content -->