
<!-- Start Video Editing content -->
<section id="editing" class="content-block">
	<div class="valign"><span class="image fit primary"><img src="assets/images/pic04.jpg" alt="sound insulation texture" /></span>
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 col-sm-10 offset-sm-1">
					<div class="text-center">
						<h2>Video Editing</h2>
					</div>
				</div>
            </div>
			<div class="row whiteBox">
				<div class="col-12 col-sm-10 offset-sm-1">
					<div class="text-center">
						<h4>A Visual Storyteller with demonstrated experience delivering poignant, strategy-driven video content.</h4>
					</div>
				</div>
            </div>
			<div class="row">
				<div class="col-12 col-sm-10 offset-sm-1">
					<p>My over 10 years professional editing experience was acquired partly at an in-house corporate agency and then as an established freelancer working on a broad range of production types. Unscripted editing is is one of my signature skills. I thrive on the challenge of working through primary and b-roll footage to shape a cohesive story arc that captivates audiences.</p>
					<p>My specialty lies in documentary, journalistic, corporate, and educational films. With a well-honed research process and thoughtful storytelling, I can craft candid and captivating video messaging that resonates with your target audience.</p>
					<p>My primary tools for post productions are in Adobe Premiere/After Effects and Davinci Resolve, but I’m comfortable working in any NLE system that is established in your organization.</p>
				</div>
			</div>
			{% include capabilities.html %}
        </div>
    </div>
</section><!-- End Video Editing content -->