<nav id="navbarNav" class="navbar navbar-expand-lg navbar-dark bg=dark fixed-top">
    <a class="navbar-brand" href="https://www.vi-vi.io/">R. Scott Vivilecchia</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#work">Work</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Capabilities</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="./strategy">Strategy & Planning</a>
                    <a class="dropdown-item" href="./editing">Video Editing</a>
                    <a class="dropdown-item" href="./motion">Motion Graphics & Animation</a>
                    <a class="dropdown-item" href="./color">Color Grading</a>
                    <a class="dropdown-item" href="./interviewing">Interviewing & Videography</a>
                    <a class="dropdown-item" href="./design">Graphic Design & Illustration</a>
                    <a class="dropdown-item" href="./ui">UX/UI Design</a>
                    <a class="dropdown-item" href="./web">Front-end Web</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>
