<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ site.title }}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Raleway:ital,wght@0,100;0,300;0,700;1,500&display=swap" rel="stylesheet">
  <script src="./assets/js/fontawesome.all.min.js"></script>

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>
