
<!-- Start INSTINCTIVE BIRTH BRAND content -->
<section id="" class="content-block">
	<div class="valign"><span class="image fit primary"><img src="assets/images/pic04.jpg" alt="sound insulation texture" /></span>
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 col-sm-10 offset-sm-1">
					<div class="text-center">
						<h2>Instinctive Birth brand</h2>						
					</div>
				</div>
            </div>
			<div class="row whiteBox">
				<div class="col-12 col-sm-10 offset-sm-1">
					<div class="text-center">
						<h4>A compelling and cohesive brand identity for a company dedicated to empowering women, through the philosophy of natural childbirth and the techniques that enable a satisfying, relaxing, and safe birth experience.</h4>
					</div>
				</div>
            </div>
			<div class="row">
				<div class="col-12 col-lg-6">
					<div>
						<a type="button" data-toggle="modal" data-target="#logotype-normAndRev-modal"><img class="img-fluid" src="assets/images/iBirth/iBirth-logotype-normAndRev.png" alt="Instictive Birth brand logotype, displaying normal and reverse versions"></a>
						<div class="spacer-30px"></div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div>
						<a type="button" data-toggle="modal" data-target="#logo-normAndRev-modal"><img class="img-fluid" src="assets/images/iBirth/iBirth-logo-normAndRev.png" alt="Normal and reverse versions of the Instictive Birth brand logo, featuring the silhouette of a pregnant figure, superimposed on a lowercase letter i"></a>
						<div class="spacer-30px"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<p>Crafting a cohesive brand identity for Instinctive Birth required me to delve into the emotional and psychological aspects of the target audience, ensuring that every visual and textual element resonated with the themes of empowerment, natural harmony, calm, and support. Overall, the process of building the brand guidelines for Instinctive Birth has been an enriching experience that honed my skills in creating a holistic and impactful brand identity. It underscored the importance of a thoughtful and strategic approach to design, where every detail contributes to a compelling and cohesive brand story.</p>
					<div class="spacer-20px"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-lg-3">
					<div>
						<a type="button" data-toggle="modal" data-target="#portMobile-modal"><img class="img-fluid" src="assets/images/iBirth/iBirth-portMobile.jpg" alt="Website screenshot as displayed on a mobile device in portrait orientation"></a>
						<div class="spacer-30px"></div>
					</div>
				</div>
				<div class="col-12 col-lg-9">
					<div>
						<a type="button" data-toggle="modal" data-target="#smDesktop-modal"><img class="img-fluid" src="assets/images/iBirth/iBirth-smDesktop.jpg" alt="Website screenshot as displayed on a typical desktop or laptop screen"></a>
						<div class="spacer-30px"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-lg-6">
					<div>
						<a type="button" data-toggle="modal" data-target="#colorGuide-modal"><img class="img-fluid" src="assets/images/iBirth/iBirth-colorGuide_sm.png" alt=""></a>
						<div class="spacer-30px"></div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div>
						<a type="button" data-toggle="modal" data-target="#typeGuide-modal"><img class="img-fluid" src="assets/images/iBirth/iBirth-typeGuide.png" alt="A style guide page showing the brand fonts Open Sans and Merriweather"></a>
						<div class="spacer-30px"></div>
					</div>
				</div>
			</div>			
			<div class="row">
				<div class="col-12 col-sm-10 offset-sm-1">
					<p></p>
				</div>
			</div>
			{% include capabilities.html %}
        </div>
    </div>
	<!--START logotype-normAndRev MODAL CONTENT-->
	<div id="logotype-normAndRev-modal" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<img class="img-fluid" src="assets/images/iBirth/iBirth-logotype-normAndRev.png" alt="">
				<button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
					<span class="modal-close-x" aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
	</div><!--END MODAL logotype-normAndRev MODAL-->
	<!--START logo-normAndRev MODAL CONTENT-->
	<div id="logo-normAndRev-modal" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<img class="img-fluid" src="assets/images/iBirth/iBirth-logo-normAndRev.png" alt="">
				<button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
					<span class="modal-close-x" aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
	</div><!--END MODAL logo-normAndRev MODAL-->
	<!--START portMobile MODAL CONTENT-->
	<div id="portMobile-modal" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<img class="img-fluid" src="assets/images/iBirth/iBirth-portMobile.jpg" alt="">
				<button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
					<span class="modal-close-x" aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
	</div><!--END MODAL #portMobile-modal -->
	<!--START smDesktop MODAL CONTENT-->
	<div id="smDesktop-modal" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<img class="img-fluid" src="assets/images/iBirth/iBirth-smDesktop.jpg" alt="">
				<button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
					<span class="modal-close-x" aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
	</div><!--END MODAL #smDesktop-modal -->
	<!--START type guide MODAL CONTENT-->
	<div id="typeGuide-modal" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<img class="img-fluid" src="assets/images/iBirth/iBirth-typeGuide.png" alt="">
				<button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
					<span class="modal-close-x" aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
	</div><!--END MODAL #typeGuide-modal -->
	<!--START color guide MODAL CONTENT-->
	<div id="colorGuide-modal" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<img class="img-fluid" src="assets/images/iBirth/iBirth-colorGuide.png" alt="">
				<button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
					<span class="modal-close-x" aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
	</div><!--END MODAL #colorGuide-modal -->
</section><!-- End INSTINCTIVE BIRTH BRAND content -->