
<!-- Start Interviewing & Videography content -->
<section id="interviewing" class="content-block">
	<div class="valign"><span class="image fit primary"><img src="assets/images/pic01.jpg" alt="man sitting in a chair being interviewed, from the perspective of a camera view screen" /></span>
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 col-sm-10 offset-sm-1">
					<div class="text-center">
						<h2>Interviewing & Videography</h2>
					</div>
				</div>
            </div>
			<div class="row whiteBox">
				<div class="col-12 col-sm-10 offset-sm-1">
					<div class="text-center">
						<h4></h4>
					</div>
				</div>
            </div>
			<div class="row">
				<div class="col-12 col-sm-10 offset-sm-1">
					<p>As a skilled interviewer, I have a proven track record of working with talent to capture compelling and authentic stories. My approach is rooted in compassion for the subject and a commitment to making them feel comfortable and heard. I am always prepared for unexpected responses, and know how to follow up or ask for more information to ensure that the answers feel natural and unrehearsed.</p>
					<p>Whether in-studio or on-location, I have extensive experience with a range of professional camera brands, including Black Magic, Canon, Panasonic, and Sony. I am also proficient in mic'ing subjects, sound mixing, and setting up three-point lighting to create the perfect shot. In addition, I am adept at operating sliders and gimbals to capture dynamic and visually stunning secondary shots and b-roll.</p>
					<p>With <a href="./kit">a small kit</a> that includes a 4k camera, a variety of lenses, a 4-pc. bi-color light kit, lav and boom mics, I can stay nimble for one-man-band style gigs, or I can quickly scale up with more equipment and production staff for more complex shoots.</p>
					<p>Overall, my skills in interviewing, directing, and camera operation make me an ideal partner for any shoot that requires a high level of professionalism, creativity, and technical expertise.</p>
				</div>
			</div>
			{% include capabilities.html %}
        </div>
    </div>
</section><!-- End Interviewing & Videography content -->