
<!-- Start Interviewing & Videography content -->
<section id="interviewing" class="content-block">
	<div class="valign"><span class="image fit primary"><img src="assets/images/pic01.jpg" alt="man sitting in a chair being interviewed, from the perspective of a camera view screen" /></span>
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 col-sm-10 offset-sm-1">
					<div class="text-center">
						<h2>Interviewing & Videography</h2>
					</div>
				</div>
            </div>
			<div class="row whiteBox">
				<div class="col-12 col-sm-10 offset-sm-1">
					<div class="text-center">
						<h4>As a skilled interviewer, I have a proven track record of working with talent to capture compelling and authentic stories</h4>
					</div>
				</div>
            </div>
			<div class="row">
				<div class="col-12 col-sm-10 offset-sm-1">
					<p>My approach is rooted in compassion for the subject and a commitment to making them feel comfortable and heard. I am always prepared for unexpected responses, and know how to follow up or ask for more information to ensure that the answers feel natural and unrehearsed.</p>
					<p>Whether in-studio or on-location, I have extensive experience with a range of professional camera brands, including Black Magic, Canon, Panasonic, and Sony. I am also proficient in mic'ing subjects, sound mixing, and setting up three-point lighting to create the perfect shot. In addition, I am adept at operating sliders and gimbals to capture dynamic and visually stunning secondary shots and b-roll.</p>
					<p>With <a href="#kit">a small kit</a> that includes a 4k camera, a variety of lenses, a 4-pc. bi-color light kit, lav and boom mics, I can stay nimble for one-man-band style gigs, or I can quickly scale up with more equipment and production staff for more complex shoots.</p>
					<p>Overall, my skills in interviewing, directing, and camera operation make me an ideal partner for any shoot that requires a high level of professionalism, creativity, and technical expertise.</p>
				</div>
			</div>
        </div>
    </div>
</section><!-- End Interviewing & Videography content -->
<!-- Start Videography gear kit content -->
<section id="kit" class="content-block">
	<div class="valign"><span class="image fit primary"><img src="assets/images/pic01.jpg" alt="sound insulation texture" /></span>
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 col-sm-10 offset-sm-1">
					<div class="text-center">
						<h2>My gear</h2>
					</div>
				</div>
            </div>
			<div class="row whiteBox">
				<div class="col-12 col-sm-10 offset-sm-1">
					<div class="text-center">
						<h4>With this set of essentials, I can stay nimble for one-man-band style gigs, or I can quickly scale up with more equipment and production staff for complex shoots</h4>
					</div>
				</div>
            </div>
			<div class="row">
				<div class="col-12 col-sm-10 offset-sm-1">
					<p><em>Camera</em> - Black Magic Pocket Cinema Camera 4k</p>
					<p><em>Lens</em> - Sigma 18-35mm f/1.8 DC HSM Art Lens for Canon EF, w/ Benro variable ND</p>
					<p><em>Lens</em> - Helios 44-2 2/58 (vintage)</p>
					<p><em>Lens</em> - Canon EF 75-300 f/4-5.6 IS USM</p>
					<p><em>Speedbooster</em> - Viltrox EF-M2 II Canon EF Lens to Micro Four Thirds Camera Mount Adapter</p>
					<p><em>Tripod</em> - Manfrotto Befree Live Aluminum Lever-Lock</p>
					<p><em>Gimbal</em> - DJI Ronin S</p>
					<p><em>Shoulder rig</em> - CAMVATE Single-Grip w/ smallrig follow-focus</p>
					<p><em>Data Storage</em> - many, many high-speed GB's in the form of Samsung T5's and Angelbird CFAST cards</p>
					<p><em>Sound</em> - Zoom H5 4-Input / 4-Track Portable Handy Recorder</p>
					<p><em>Sound</em> - Sennheiser MKE 600 Shotgun Microphone w/ boom and on-camera mounts</p>
					<p><em>Sound</em> - Rode Wireless GO Compact Wireless Microphone System (2.4 GHz) w/ Rode smartLav+ mic</p>
					<p><em>Lights</em> - (x3) Intellytech LiteCloth LC-50 1 x 1' LED Mat Kit (V-Mount) w/ stands</p>
					<p><em>Lights</em> - Intellytech Pocket Cannon Mini (Daylight spot)</p>
				</div>
			</div>
			{% include capabilities.html %}
        </div>
    </div>
</section><!-- End Videography gear kit content -->