<!--START MODAL CONTENT-->

<div id="work-1-modal" class="modal fade voya-modal vid-modal" role="dialog" data-entryid="1_sic6qsfe" data-modtitle="gs">
	<div class="modal-dialog">
		<button type="button" class="close voya-modal-close" data-dismiss="modal" aria-label="Close">
			<span class="modal-close-x" aria-hidden="true">&times;</span>
		</button>
		<button type="button" class="voya-modal-unmute">
			<span class="modal-close-x" aria-hidden="true"><i class="fal  fa-volume-off"></i>&nbsp;&nbsp;UNMUTE</span>
		</button>
		<div class="modal-content">
			<div id="gs-vid-wrap" class="vid-wrap">
				<h1>WORK-1-MODAL</h1>
			</div>
		</div>
	</div>
</div><!--END MODAL work-1 -->