
<!-- Start INSTINCTIVE BIRTH BRAND content -->
<section id="" class="content-block">
	<div class="valign"><span class="image fit primary"><img src="assets/images/pic04.jpg" alt="sound insulation texture" /></span>
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 col-sm-10 offset-sm-1">
					<div class="text-center">
						<h2>NJH Medical Brand</h2>						
					</div>
				</div>
            </div>
			<div class="row whiteBox">
				<div class="col-12 col-sm-10 offset-sm-1">
					<div class="text-center">
						<h4>Content coming soon.</h4>
					</div>
				</div>
            </div>		
			<div class="row">
				<div class="col-12">
					<img src="assets/images/NJHMed_logo.png" alt="NJH Medical logo" class="img-fluid">
					<div class="spacer-30px"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-lg-4">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, alias. Architecto aperiam nostrum quo reprehenderit vel dolor debitis blanditiis illo, quibusdam maiores incidunt autem delectus ad culpa nam, sed quis?</p>
				</div>
				<div class="col-12 col-lg-8">
					<img src="assets/images/NJHMed_boxDesign.png" alt="A flattened layout for a packaging design for a PPE mask product" class="img-fluid">
					<div class="spacer-30px"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-lg-6">
					<img src="assets/images/NJHMed_website_landing.png" alt="Website landing page screen shot" class="img-fluid">
					<div class="spacer-30px"></div>
				</div>
				<div class="col-12 col-lg-6">
					<img src="assets/images/NJHMed_website_content.png" alt="Website screen shot" class="img-fluid">
					<div class="spacer-30px"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-lg-6">
					<img src="assets/images/NJHMed_website_content2.png" alt="Website screen shot" class="img-fluid">
					<div class="spacer-30px"></div>
				</div>
				<div class="col-12 col-lg-6">
					<img src="assets/images/NJHMed_website_store.png" alt="Website screen shot" class="img-fluid">
					<div class="spacer-30px"></div>
				</div>
			</div>
			{% include capabilities.html %}
        </div>
    </div>
</section><!-- End INSTINCTIVE BIRTH BRAND content -->