<div class="social-links">
  <a target="_blank" href="https://vimeo.com/user{{ site.vimeo_username }}">
    <i aria-hidden="true" class="fab fa-vimeo fa-2x" title="my vimeo profile">vimeo</i>
  </a>
  <a target="_blank" href="https://www.productionhub.com/profiles/details/354240">
    <img class="img-fluid" src="./assets/images/prodHub.png" alt="my ProductionHUB profile" />
  </a>
  <a target="_blank" href="https://github.com/{{ site.github_username }}">
    <i aria-hidden="true" class="fab fa-github fa-2x" title="my github profile">github</i>
  </a>
  <a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
    <i aria-hidden="true" class="fab fa-linkedin fa-2x" title="my linkedin profile">linkedin</i>
  </a>
</div>
