
<!-- Start Strategy & Planning content -->
<section id="banner">
	<div id="bannerTitle"></div>
</section>
<section id="strategy" class="content-block">
	<div class="valign"><span class="image fit primary"><img src="assets/images/pic04.jpg" alt="sound insulation texture" /></span>
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 col-sm-10 offset-sm-1">
					<div class="text-center">
						<h2>Strategy & Planning</h2>
					</div>
				</div>
            </div>
			<div class="row whiteBox">
				<div class="col-12 col-sm-10 offset-sm-1">
					<div class="text-center">
						<h4>At the heart of any successful project is a great idea and a deliberate strategy.</h4>
					</div>
				</div>
            </div>
			<div class="row">
				<div class="col-12 col-sm-10 offset-sm-1">
					<p>As a skilled story-boarder, I can help you bring your ideas to life visually. But it's not just about the visuals. Strategy is key to ensuring that your video achieves its intended purpose. That's why I work closely with clients to understand their goals, so we can develop a strategy that aligns with their brand and message.</p>
					<p>Once we have a solid plan in place, the script becomes the backbone of the video production process. Developed with years of experience on-set and in post, I have a grasp of what "works" for video. This fundamental understanding will help us craft a script that its not only engaging, but also informative, ensuring that your message comes across loud and clear.</p>
					<p><strong>SAMPLE STORYBOARD:</strong></p>
				</div>
			</div>
			<img class="img-fluid img-full-width" src="./assets/images/strategy_storyboardEx.jpg" alt="">
			<div class="row no-gutters g-0">
				<div class="col-12">
					
				</div>
			</div>
			{% include capabilities.html %}
        </div>
    </div>
</section><!-- End Strategy & Planning content -->