
<!-- Start Secure B2B Sales Portal content -->
<section id="banner">
	<div id="bannerTitle"></div>
</section>
<section id="ui" class="content-block">
	<div class="valign"><span class="image fit primary"><img src="assets/images/pic04.jpg" alt="sound insulation texture" /></span>
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 col-sm-10 offset-sm-1">
					<div class="text-center">
						<h2>Secure B2B Sales Portal</h2>
					</div>
				</div>
            </div>
			<div class="row whiteBox">
				<div class="col-12 col-sm-10 offset-sm-1">
					<div class="text-center">
						<h4>.</h4>
					</div>
				</div>
            </div>
			<div class="row">
				<div class="col-12">
					<img src="assets/images/digital/devices_voyaRFP.png" alt="Laptop and smartphone showing responsive views of the Voya 404 page featuring a man and a woman looking at a map" class="img-fluid">
					<div class="spacer-20px"></div>
				</div>
			</div>
			<div class="row align-items-center">
				<div class="col-12 col-md-6">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad tempora enim est adipisci assumenda dolore. Eius fugiat ex vero, voluptates iusto aliquam, cum neque perferendis, nisi laudantium eveniet ducimus beatae?</p>
				</div>
				<div class="col-12 col-md-6">
					<img src="assets/images/digital/detail-1_voyaRFP.png" alt="" class="img-fluid">
					<div class="spacer-20px"></div>
				</div>
			</div>
			<div class="row align-items-center">
				<div class="col-12 col-md-6">
					<img src="assets/images/digital/detail-2_voyaRFP.png" alt="" class="img-fluid">
					<div class="spacer-20px"></div>
				</div>
				<div class="col-12 col-md-6">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad tempora enim est adipisci assumenda dolore. Eius fugiat ex vero, voluptates iusto aliquam, cum neque perferendis, nisi laudantium eveniet ducimus beatae?</p>
				</div>
			</div>
			{% include capabilities.html %}
        </div>
    </div>
</section><!-- End UI/UX Design content -->