
<!-- Start Disruptive 404 Page content -->
<section id="banner">
	<div id="bannerTitle"></div>
</section>
<section id="ui" class="content-block">
	<div class="valign"><span class="image fit primary"><img src="assets/images/pic04.jpg" alt="sound insulation texture" /></span>
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 col-sm-10 offset-sm-1">
					<div class="text-center">
						<h2>Disruptive 404 Page</h2>
					</div>
				</div>
            </div>
			<div class="row whiteBox">
				<div class="col-12 col-sm-10 offset-sm-1">
					<div class="text-center">
						<h4>A well-designed 404 page can keep users engaged by providing helpful navigation options and a friendly message, guiding them back on the right track.</h4>
					</div>
				</div>
            </div>
			<div class="row">
				<div class="col-12">
					<img class="devicesImg" src="assets/images/digital/devices_voya404.png" alt="Laptop and smartphone showing responsive views of the Voya 404 page featuring a man and a woman looking at a map">
					<div class="spacer-20px"></div>
				</div>
			</div>
			<div class="row align-items-center">
				<div class="col-12 col-md-6">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad tempora enim est adipisci assumenda dolore. Eius fugiat ex vero, voluptates iusto aliquam, cum neque perferendis, nisi laudantium eveniet ducimus beatae?</p>
				</div>
				<div class="col-12 col-md-6">
					<img src="assets/images/digital/detail-1_voya404.png" alt="Close up of text on 404 page: 404 page not found. Looks like you've taken a wrong turn... The page you're trying to reach does not exist. Please check your URL and hit the refresh button on your browser.	If you're still having trouble, try the search form below, and we'll get you back on the right path" class="img-fluid">
					<div class="spacer-20px"></div>
				</div>
			</div>
			{% include capabilities.html %}
        </div>
    </div>
</section><!-- End UI/UX Design content -->