<!-- Start WORK content -->
<section id="work" class="content-block">
	<div class="valign">
		<span class="image fit primary"><img src="assets/images/pic02.jpg" alt="" /></span>
		<div class="container-fluid">
			<div class="row">
				<div class="col-10 offset-1">
					<div class="">
						<h2>What I do</h2>
						<p>As a seasoned filmmaker, my work spans testimonial, educational, interview, documentary and promotional productions. My well-honed research process, and compassion for subject/talent, ensure that on set or in post, every decision and action purposefully drives the message, to craft a captivating story that speaks directly to the intended audience.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<h3>Brands I've worked with</h3>
					<hr>
					<div class="slideshow">
						<div class="slideImages"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-10 offset-sm-1 col-xl-6 offset-xl-0">
					<h3><em>Featured Project:</em> Town Government PSA</h3>
					<hr>
					<div class="player-box">
						<iframe src="https://player.vimeo.com/video/688038354?h=80a4692f56&amp;title=0&amp;byline=0&amp;portrait=0&amp;speed=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="dux_dpw_final_web"></iframe>
					</div>
				</div>
				<div class="col-12 col-sm-10 offset-sm-1 col-xl-6 offset-xl-0">
					<h3><br>Demo Reel</h3>  <!-- <br> tag aligns single line title -->
					<hr>
					<div class="player-box">
						<iframe src="https://player.vimeo.com/video/549096543?h=a249ab683c&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="schizzleReel_2021"></iframe>
					</div>
				</div>
				<div class="col-12">
					<h3>More work</h3>
					<hr>
					<div class="social-links text-center">
						<a target="_blank" href="https://vimeo.com/user{{ site.vimeo_username }}">
							<i aria-hidden="true" class="fab fa-vimeo fa-3x" title="my vimeo profile">vimeo</i>
						</a>
						<a target="_blank" href="https://www.productionhub.com/profiles/details/354240">
							<img class="img-fluid" src="./assets/images/prodHub.png" alt="my ProductionHUB profile" />
						</a>
						<a target="_blank" href="https://github.com/{{ site.github_username }}">
							<i aria-hidden="true" class="fab fa-github fa-3x" title="my github profile">github</i>
						</a>
						<a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
						  <i aria-hidden="true" class="fab fa-linkedin fa-3x" title="my linkedin profile">linkedin</i>
						</a>
					</div>
				</div>
				<div class="col-12">
					<button class="btn btn-lrg right-btn" data-toggle="modal" data-target="#about-website-modal"><i class="fas fa-info-circle fa-2x"></i></button>
				</div>
			</div>
		</div>
    </div>
	<a href="#contact" class="goto-next scrolly">scroll to next section</a>
</section><!-- End WORK content -->