<!-- Start WORK content -->
<section id="work" class="content-block">
	<div class="valign">
		<span class="image fit primary"><img src="assets/images/pic01.jpg" alt="" /></span>
		<div class="container-fluid">
			<div class="row">
				<div class="col-10 offset-1">
					<div class="">
						<h2>What I do</h2>
						<p>As a seasoned filmmaker, my work spans testimonial, educational, interview, documentary and promotional productions.  On-set or in post, my every decision or action, purposefully drives the message, to craft a captivating story that speaks directly to the intended audience.</p>
						<p>With an unwavering focus on User Experience, for nearly 20 years I've worked in front-end and server-side capacities, to create custom, mobile-first web apps. Check out my <a href="./assets/docs/rsVivilecchia_resume.pdf">resume</a> to see the specific technologies that I'm familiar with.</p>
						<p>My broad skill set allows me to add value at all project phases—brainstorming, storyboarding/wireframing, writing, design, development, and delivery.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-10 offset-sm-1 col-xl-6 offset-xl-0">
					<h3><em>Featured Project:</em> Dispensary Promo</h3>
					<hr>
					<div class="player-box">
						<iframe src="https://player.vimeo.com/video/618173382?h=b8e521193b&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Triple M - Seed to Sale promo"></iframe>
					</div>
				</div>
				<div class="col-12 col-sm-10 offset-sm-1 col-xl-6 offset-xl-0">
					<h3><br>2021 Demo Reel</h3>
					<hr>
					<div class="player-box">
						<iframe src="https://player.vimeo.com/video/549096543?h=a249ab683c&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="schizzleReel_2021"></iframe>
					</div>
				</div>
				<div class="col-12">
					<h3>More work</h3>
					<hr>
					<div class="social-links text-center">
						<a target="_blank" href="https://vimeo.com/user{{ site.vimeo_username }}">
							<i class="fab fa-vimeo fa-4x">vimeo</i>
						</a>
						<a target="_blank" href="https://github.com/{{ site.github_username }}">
							<i class="fab fa-github fa-4x">github</i>
						</a>
					</div>
				</div>
				<div class="col-12">
					<button class="btn btn-lrg" data-toggle="modal" data-target="#about-website-modal"><i class="fas fa-info-circle fa-2x"></i><span>&nbsp;&nbsp;&nbsp;About this website</span></button>
				</div>
			</div>
		</div>
    </div>
	<a href="#about" class="goto-next scrolly">Next</a>
</section><!-- End WORK content -->