<!-- Start WORK content -->
<section id="work" class="work content-block">
	<div class="valign">
		<span class="image fit primary"><img src="assets/images/pic04.jpg" alt="sound insulation texture" /></span>
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 col-md-10 offset-md-1">
					<div class="">
						<h2>What I do</h2>
						<p>As an accomplished filmmaker, my work spans testimonial, educational, interview, documentary and promotional productions. My well-honed research process, and compassion for subject/talent, ensure that on set or in post, every decision and action purposefully drives the message, resulting in a captivating story that connects deeply with the intended audience.</p>
						<div class="spacer-20px"></div>
					</div>
				</div>
			</div>
			{% include capabilities.html %}
			<div class="row">
				<div class="col-12">
					<h3>Recent work</h3>
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="modalBtn-container col-12 col-sm-10 offset-sm-1 col-xl-6 offset-xl-3">
					<h4 class="modalBtn-exLabel">Demo Reel</h4>
					<div class="modalBtn-box">
						<div class="link-icon"><i class="fas fa-external-link-alt"></i></div>
						<a href="./reel"><img src="assets/images/workThumb_demoReel.jpg" alt="Demo reel thumbnail depicting a woman and dog at the shoreline with the words R. Scott Vivilecchia sitting in the waves"></a>
						<div class="modalBtn-label">Demo Reel</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="modalBtn-container col-12 col-sm-10 offset-sm-1 col-xl-6 offset-xl-0">
					<h4 class="modalBtn-exLabel">TV Series GFX</h4>
					<div class="modalBtn-box">
						<div class="link-icon"><i class="fas fa-external-link-alt"></i></div>
						<a href="./publictv_gfx"><img src="assets/images/workThumb_publictv_gfx.jpg" alt="Public TV graphics package thumbnail showing The Register's Report show title super emposed over a shelf full of books"></a>
						<div class="modalBtn-label">TV Series GFX</div>
					</div>
				</div>
				<div class="modalBtn-container col-12 col-sm-10 offset-sm-1 col-xl-6 offset-xl-0">
					<h4 class="modalBtn-exLabel">Map Concept GFX</h4>
					<div class="modalBtn-box">
						<div class="link-icon"><i class="fas fa-external-link-alt"></i></div>
						<a href="./busmap"><img src="assets/images/workThumb_busmap.jpg" alt="Bus map concept graphics thumbnail showing abstract graphics that look like lines on a city bus map"></a>
						<div class="modalBtn-label">Map Concept GFX</div>
					</div>
				</div>
			</div>			
			<div class="row mt-5">
				<div class="col-12">
					<button class="btn btn-lrg right-btn" data-toggle="modal" data-target="#about-website-modal"><i class="fas fa-info-circle fa-2x"></i><span>&nbsp;&nbsp;&nbsp;About this website</span></button>
				</div>
			</div>
			<div class="row whiteBox clientsBox mt-5">
				<div class="col-12">
					<h3>Brands I've worked with</h3>
					<hr>
					<div class="slideshow">
						<div class="logoImages slideImages"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<h3>Professional profiles</h3>
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
					{% if site.show_social_icons %}
						{% include social_links.html %}
					{% endif %}
				</div>
			</div>
		</div>
    </div>
	<div class="spacer-50px"></div>
	<div class="spacer-50px"></div>
	<a href="#contact" class="goto-next scrolly">scroll to next section</a>
</section><!-- End WORK content -->