html {
	body {
		font-family: $font;
		font-size: 17px;
		color: $color-2;
		font-weight: 300;
		margin: 0;
		padding: 0;
		position: relative;
		scroll-behavior: smooth;
		.content-box, .dark-content-box {
			background-color: rgba($color-4, .925);
			border-radius: 4px;
			margin-top: -120px;
			padding-top: 120px;
			.content-block {
				display: block;
				position: relative;
				margin-top: 20px;
				padding: 100px 0 120px;
				min-height: calc(100vh - 310px);
				border-top: 1px solid rgba($color-2, .25);
				& > .valign {min-height: calc(100vh - 310px);}
				.image.primary {display: none;}
				h2 {
					font-weight: 700;
					font-size: 2em;
					text-transform: uppercase;
				}
				h3 {
					font-size: 1.5em; 
					margin: 60px auto 10px;
					text-align: center;
					font-weight: 300;
				}
				h4 {
					font-weight: 700;
					font-size: .9em;
					color: $color-6;
					margin: 40px auto 10px;
					text-transform: uppercase;
				}
				p span.para-intro {
					font-style: italic;
					font-weight: 700;
				}
				hr { 
					border-top: 1px solid rgba($color-2, .25);
					width: 40%;
					margin: 10px auto 20px;
				}
				.whiteBox {
					background-color: rgba(white, .5);
					width: calc(100% + 60px);
					margin-left: -30px;
					margin-top: 30px;
					padding: 20px 0 20px;
					h3 {margin: 0;}
				}
			}
			#contact {
				& > .valign {height: 100%;}
			}
		}
		.dark-content-box {
			background-color: rgba($color-2, .925);
			border-radius: 4px;
			margin-top: 0px;
			padding-top: 0px;
			color: $color-4;
			.content-block {
				padding: 50px 0 75px;
				min-height: auto;
				& > .valign {min-height:auto;}
			}
		}
	}
	a {
		color: $color-6;
		font-weight: 500;
		font-style: italic;
		transition-duration: .5s;
		&:hover {
			transition-duration: .5s
		}
	}
	&.is-loading {
		body {
			*, *:before, *:after {
				animation: none !important;
				transition: none !important;
			}
		}
	}
}

// Misc formatting

.clearer {clear: both;}

strong {font-weight: 500;}

.spacer-20px {height: 20px;}

.text-clr-1 {color: $color-1;}
.text-clr-2 {color: $color-2;}
.text-clr-3 {color: $color-3;}
.text-clr-4 {color: $color-4;}
.text-clr-5 {color: $color-5;}
.text-clr-6 {color: $color-6;}
.text-keyword{text-transform: uppercase;}

.valign {
	height: 100%;
	width: 100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
}

.btn {
	padding: 6px 20px 3px;
	margin: 20px auto;
    border-radius: 60px;
    display: block;
    background-color: $color-6;
    color: $color-4;
    font-size: 1.15em;
	text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba($color-5, 0.06),
              0 2px 10px 0 rgba($color-5, 0.07);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
	&:hover {
		transform: translateY(1px);
		background-color: $color-3;
		box-shadow: 0 1px 1px 0 rgba($color-5, 0.10),
				0 1px 1px 0 rgba($color-5, 0.09);
		-webkit-transition: all 500ms ease;
		transition: all 500ms ease;
	}
	i {display: block;}
	span { 
		display: block;
		float: right;
		margin-top: 7px;
	}
}

.right-btn {
	float: right;
	font-size: .75em;
}
@media (max-width: 768px) {
    // .right-btn {
    //     float: none;
    //     text-align:center;
	// 	margin: .5rem 0;
    // }
}

// Next button
.goto-next, .goto-home {
	background-color: $color-6;
	background-image: url('../images/arrow.svg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 2.25em;
	border-radius: 100%;
	border: 0;
	bottom: 10px;
	display: block;
	width: 4em;
	height: 4em;
	left: 50%;
	line-height: 4em;
	margin-left: -2em;
	overflow: hidden;
	position: absolute;
	z-index: 10;
	text-indent: 4em;
	white-space: nowrap;
	transition-duration: .5s;
	&:hover {
		background-color: $color-3;
		transition-duration: .5s;
	}
}
.goto-home {
	transform: rotate(90deg);
	// position: relative;
	bottom: auto;
	left: 50px;
	top: 50px;
	margin: 0;
}

/* Main BG */

.main-bg {
	background-attachment:		fixed,							fixed;
	background-position:		top left,						center center;
	background-repeat:			repeat,							none;
	background-size:			auto,							cover;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: -9;

	&.active {
		opacity: 1;
	}
}

// BANNER
#banner {
	display: block;
	position: relative;
	height: 100vh;
}
.banner-title {
	background-color: rgba($color-4, .925);
	display: inline-block;
    border-radius: 4px;
	padding: 20px 30px;
	margin-top: 35%;
	text-align: center;
	h3 {
	   text-transform: uppercase;
	   font-weight: 700;
	   font-size: .85em;
	   color: $color-6;
	   span {
		   color: $color-2;
		   font-weight: 100;
	   }
	}
	h1 { 
	   font-weight: 100;
	   text-align: center;
	   font-size: 2.5em;
	   color: $color-2;
   }
}
#banner .banner-title {
	opacity: 0;
	animation: .75s ease-out forwards slideUpFade;
	animation-delay: 2000ms;
}
@keyframes slideUpFade {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
#subheader.content-block {
	padding-bottom: 0;
	.banner-title {
		margin-top: 30px;
		width: 100%;
		h3 {
			font-size: 1em;
			margin: 10px auto 10px;
		}
		h1 {font-size: 1.8em;}
	}
}


// ABOUT
#about {
	img {
		width: 40%;
		height: auto;
		float: right;
		border: 1px solid rgba($color-2, .5);
		margin: 0 0 20px 20px;
	}
	h4 {
		color: $color-3;
		font-family: $font-display;
		font-size: 1.4em;
	}
}

// WORK
#work {
	.player-box {
		padding:56.25% 0 0 0;
		position:relative;
		border: 1px solid rgba($color-2, .5);
	}
	.modalBtn-box {
		border: 1px solid rgba($color-2, .5);
		border-radius: 4px;
		overflow: hidden;
		height: 150px;
		padding: 0;
		position: relative;
		a {
			border: none;
			margin:0 auto;
			padding:0;
			top: 0;
			left: 50%;
			margin-left: -50%;
			position: absolute;
			z-index: 10;
			img {
				width: 105%;
				margin: 0 auto;
				
				-webkit-transition: .3s ease-in-out;
				transition: .3s ease-in-out;
				-webkit-filter: blur(0);
				filter: blur(0);
				&:hover {
					width: 100%;
					-webkit-filter: blur(3px);
					filter: blur(3px);
				}
			}
			// img.right {
			// 	float: right;
			// }
		}
		.link-icon {
			background-color: rgba($color-6, .7);
			border: 1px solid rgba($color-4, .5);;
			padding: 5px;
			border-radius: 4px;
			position: absolute;
			z-index: 11;
			font-size: 2em;
			bottom: 5px;
			left: 5px;
			color: rgba($color-4, .5);
			// text-shadow: 0 0 10px $color-3;
			svg {display: block;}
		}
	}
	em {font-weight: 500;}
	.clientsBox { //  https://css-tricks.com/infinite-all-css-scrolling-slideshow/
		background-color: rgba(white, .5);
		width: calc(100% + 60px);
		margin-left: -30px;
		margin-top: 30px;
		padding-bottom: 30px;
		h3 {margin-top: 30px;}
		.slideshow {
			position: relative;
			overflow: hidden;
			height: 50px;
			width: calc(100% + 30px);
			margin-left: -15px;
			// border-bottom: 1px solid $color-2;
			.slideImages {
				background: url(../images/logosBanner.png);
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				width: 800%;
				animation: slideshow 15s linear infinite;
			}
		}
	}
	@keyframes slideshow {
	  0%    { left: 0; }
	  100%  { left: -644.5%; }
	}
}



// CONTACT


/* ///// inputs /////*/

#contactForm { overflow: hidden; }

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.65em;
    color: $color-4;
    top: 2px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 100%;
    margin: .5rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
}

.styled-input label {
    color: #aaa;
    padding: 0 10px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide { 
    width: 100%;
    max-width: 100%;
}

input,
textarea {
    padding: 10px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: rgba($color-2, .75);
    color: $color-4;
    border-radius: 4px;
}

// input:focus,
// textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 8em;
}

.input-container {
    max-width: 100%;
    margin: 20px auto 25px auto;
}

#postSent, #postError {
	height: 0;
	width: 100%;
	overflow: hidden;
    background-color: rgba($color-2, .75);
	color: $color-4;
    border-radius: 4px;
	padding: 0px 40px;
	h4 {
		width: 100%;
		font-weight: 700;
		font-size: 2em;
	}
	hr { 
		border-top: 1px solid $color-1;
		width: 40%;
		margin: 25px auto;
	}
}

// MODALS
// .modal-backdrop.fade {
// 	background-color: $color-4;
// 	opacity:0.7 !important;
// 	transition: 1s ease-in-out;
// 	-webkit-transition: 1s ease-in-out;
// }
.modal {padding-right: 0 !important;}
.modal .modal-dialog .modal-content {
	background-color: $color-2;
	color: $color-1;
	padding: 60px;
	height: auto;
	h2 {text-align: center;}
	a {
		color: $color-3;
		font-weight: 500;
		font-style: italic;
	}
	hr { 
		border-top: 1px solid $color-1;
		width: 40%;
		margin: 15px auto 25px;
	}
}
.modal-content {
	-webkit-box-shadow: 0px 10px 15px 0px rgba($color-5,0.25);
	-moz-box-shadow: 0px 10px 15px 0px rgba($color-5,0.25);
	box-shadow: 0px 10px 15px 0px rgba($color-5,0.25);
}
.modal-player-box {
	// padding:0;
	position:relative;
	border: 1px solid rgba($color-5, .75);
	border-radius: 4px;
}
.player-caption{
	font-size: .85em;
	font-weight: 700;
	color: lighten($color-2, 20%);
	text-align: center;
	margin:5px 0 15px;
}
.modal-close {
	position: absolute;
	bottom: -80px;
	right: 10px;
	font-size: 6em;
	color: $color-6;
	z-index: 9999;
	padding: 7px;
	text-shadow: 0 0 3px #666;
	background-color: rgba(0,0,0,0);
	opacity: 1;
	font-weight: 100;
	&:hover {
		color: $color-2;
		text-decoration: none;
		cursor: pointer;
	}
}

//WORKSUB LAYOUT
.worksub-player-box {
	// padding:0;
	position:relative;
	border: 1px solid rgba($color-5, .75);
	border-radius: 4px;
}

@media (orientation: landscape) {}
@media (orientation: portrait) {}

// BOOTSTRAP SMALL
@media only screen and (min-width: 576px) {
	
	html body { 
		font-size: 17px;
		.content-box {
			margin-top: -130px;
			padding-top: 130px;
		}
	}
	// Next button
	.goto-next {
		background-size: 2.5em;
		bottom: 10px;
	}
	//BANNER
	#banner {
		h1 {font-size: 2.8em;}
		h3 {font-size: 1em;}
	}
	#subheader {
		.banner-title {
			margin-top: 30px;
			h3 {font-size: 1em;}
			h1 {font-size: 1.8em;}
		}
	}
	// WORK
	#work {
		.modalBtn-box {height: 175px;}
		.slideshow {
			.slideImages {}
		}
		@keyframes slideshow {
			0%    { left: 0; }
			100%  { left: -444.5%; }
		}
	}
	// MODALS
	// .modal-dialog {max-width: 85%;}
}

// BOOTSTRAP MEDIUM
@media only screen and (min-width: 768px) {
	
	html body { 
		font-size: 16px;
		.content-box {
			margin-top: -85px;
			padding-top: 85px;
		}
	}
	// Next button
	.goto-next { bottom: 10px; }
	//BANNER
	#banner {
		h1 {font-size: 4em;}
		h3 {font-size: 1.4em;}
	}
	#subheader {
		.banner-title {
			margin-top: 20px;
			h3 {font-size: .65em;}
			h1 {font-size: 2em;}
		}
	}
	// WORK
	#work {
		.slideshow {
			.slideImages {}
		}
		@keyframes slideshow {
			0%    { left: 0; }
			100%  { left: -417%; }
		}
	}

	// CONTACT FORM
	input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
		font-size: 0.75em;
		top: -5px;
	}
	.styled-input {	margin: 1rem 0; }
	.styled-input label {
		padding: 1.3rem 30px 1rem 30px;
		top: 10px;
	}
	input,
	textarea {
		padding: 30px;
		font-size: 1rem;
	}
	textarea { min-height: 10em; }
	// MODALS
	.modal-close { 
		bottom: auto;
		top: -80px; 
		font-size: 5em;
	}
}

// BOOTSTRAP LARGE
@media only screen and (min-width: 992px) {
	html body { 
		font-size: 17px;
		.content-box {
			margin-top: -90px;
			padding-top: 90px;
		}
	}

	//BANNER
	#banner {
		h1 {font-size: 4.5em;}
		h3 {font-size: 1.6em;}
	}
	#subheader {
		.banner-title {
			margin-top: 0;
			h3 {font-size: .85em;}
			h1 {font-size: 2.5em;}
		}
	}
	// WORK
	#work {
		.modalBtn-box {
			height: 250px;
			.link-icon {font-size: 1em;}
		}
		.slideshow {
			.slideImages {}
		}
		@keyframes slideshow {
			0%    { left: 0; }
			100%  { left: -312.5%; }
		}
	}
}

// BOOTSTRAP x-LARGE
@media only screen and (min-width: 1200px) {
	html body {
		font-size: 18px;
		.content-box {
			margin-top: -100px;
			padding-top: 100px;
		}
	}

	//BANNER
	#banner {
		h1 {font-size: 5.5em;}
		h3 {font-size: 2em;}
	}
	// WORK
	#work {
		.modalBtn-box {height: 185px;}
		.slideshow {
			.slideImages {}
		}
		@keyframes slideshow {
			0%    { left: 0; }
			100%  { left: -263%; }
		}
	}
}