html {
	body {
		font-family: $font;
		font-size: 22px;
		color: $color-2;
		font-weight: 500;
		margin: 0;
		padding: 0;
		position: relative;
		scroll-behavior: smooth;
		.content-box, .dark-content-box {
			background-color: rgba($color-4, .925);
			border-radius: 4px;
			margin-top: -90px;
			padding-top: 90px;
			.content-block:not(:first-child) {border-top: 1px solid rgba($color-1, .5);}
			.content-block {
				display: block;
				position: relative;
				// margin-top: 20px;
				padding: 100px 0;
				// min-height: calc(100vh - 310px);
				// & > .valign {min-height: calc(100vh - 310px);}
				.image.primary {display: none;}
				h2 {
					font-weight: 700;
					font-size: 2em;
					color: rgba($color-1, .5);
					text-transform: uppercase;
				}
				h3 {
					font-size: 1.5em;
					color: rgba($color-1, .5);
					margin: 10px auto;
					text-align: center;
					font-weight: 300;
				}
				h4 {
					font-weight: 500;
					font-size: .9em;
					margin: 10px auto 10px;
					// text-transform: uppercase;
				}
				p {
					font-size: .75em;
					line-height: 2em;
				}
				p span.para-intro {
					font-style: italic;
					font-weight: 700;
				}
				hr { 
					border-top: 1px solid rgba($color-1, .5);
					width: 40%;
					margin: 10px auto 20px;
				}
				.whiteBox {
					background-color: rgba(white, .5);
					width: calc(100% + 60px);
					margin-left: -30px;
					margin-top: 30px;
					padding: 20px 0 20px;
					h3 {margin: 0;}
				}
			}
			#contact {
				& > .valign {height: 100%;}
			}
		}
		.dark-content-box {
			background-color: rgba($color-2, .95);
			border-radius: 4px;
			margin-top: 90px;
			padding-top: 0px;
			color: $color-4;
			.content-block {
				padding: 30px 0 75px;
				min-height: auto;
				& > .valign {min-height:auto;}
				h4{color: lighten($color-2, 80%);}
				.whiteBox {
					margin-top: 10px;
					margin-bottom: 25px;
					a {color: $color-6;}
					h1 {
						font-weight: 300;
						font-style: italic;
						color: $color-2;
						font-size: 1.25em;
						font-family: $font;
					}
					h3 {color: $color-2;}
					h4 {
						color: $color-2;
						margin: 10px auto;
						font-size: 1em;
						strong {font-style: italic;}
					}
					hr {border-top: 1px solid rgba($color-2, .75);}
					.btn {
						color: $color-1;
						background-color: $color-2;
						&:hover {
							color: $color-3;
							border: 1px solid $color-3;
						}
					}
				}
				.landscapeThumb {
					.modalBtn-box {height: 150px;}
				}
				a {
					color: $color-3;
					// &:hover { color: $color-1; }
				}
				.img-full-width {
					margin: 0 0 20px;
				}
				img.txt-wrap {max-width: 100%;}				
			}
			#capabilitiesLinks {
				.capabilityLink {
					color: $color-1;
					background-color: $color-2;
					&:hover {color: $color-3;}
				}
			}
			.modalBtn-box {
				height: 225px;
				margin: 13px 0;
			}
		}
	}
	a {
		color: $color-6;
		display: inline-block;
		font-weight: 500;
		font-style: italic;
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
		&:hover {			
			-webkit-transition: .3s ease-in-out;
			transition: .3s ease-in-out;
		}
	}
	&.is-loading {
		body {
			*, *:before, *:after {
				animation: none !important;
				transition: none !important;
			}
		}
	}
}

// Misc formatting

.clearer {clear: both;}

.no-gutters {
	margin-right: 0;
	margin-left: 0;
  
	> .col,
	> [class*="col-"] {
		padding-right: 0;
		padding-left: 0;
	}
}

strong, em {font-weight: 700;}

.spacer-20px {height: 20px;}
.spacer-30px {height: 30px;}
.spacer-50px {height: 50px;}

.text-clr-1 {color: $color-1;}
.text-clr-2 {color: $color-2;}
.text-clr-3 {color: $color-3;}
.text-clr-4 {color: $color-4;}
.text-clr-5 {color: $color-5;}
.text-clr-6 {color: $color-6;}
.text-keyword{text-transform: uppercase;}

.valign {
	height: 100%;
	width: 100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
}

/* Main BG */
.main-bg {
	background-attachment:		fixed,							fixed;
	background-position:		top left,						center center;
	background-repeat:			repeat,							none;
	background-size:			auto,							cover;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: -9;

	&.active {
		opacity: 1;
	}
}

.dark-content-box, footer {
	.banner-title {
		background-color: rgba($color-4, .95);
		h1 {color: $color-2;}
		h3 {
			color: $color-6;
			span {
				color: $color-2;
			}
		}
	}
}

// Bootstrap Carousel
.carousel-caption {bottom: 10px;}

//WORKSUB LAYOUT
.worksub-player-box {
	// padding:0;
	position:relative;
	border: 1px solid rgba($color-5, .75);
	border-radius: 4px;
}
.devicesImg {
	width: calc(100% + 60px);
	margin-left: -30px;
	margin-top: -15px;
}

#kit {
	h6 {
		text-align: left;
		font-size: 1.25em;
		margin: 30px auto;
	}
	em {
		color: $color-3;
		font-weight: 700;
	}
}

//**************************************************
// MEDIA QUERIES
//**************************************************
@media (orientation: landscape) {}
@media (orientation: portrait) {}

//target touch screens
@media (hover: none) {}

// tiny!!!
@media only screen and (min-width: 370px) {
	html body {
		.dark-content-box {
			.modalBtn-box {height: 275px;}
		}
	}
}
@media only screen and (min-width: 480px) {
	html body { 
		.dark-content-box {
			.modalBtn-box {height: 300px;}
			.content-block {
				.landscapeThumb {}
			}
		}
	}
}
// BOOTSTRAP SMALL
@media only screen and (min-width: 576px) {
	html body { 
		font-size: 20px;
		.content-box {
			margin-top: -100px;
			padding-top: 100px;
		}
		.dark-content-box {
			.modalBtn-box {height: 388px;}
			.content-block {
				.landscapeThumb {
					.modalBtn-box {height: 175px;}
				}
			}
		}
	}
}
// BOOTSTRAP MEDIUM
@media only screen and (min-width: 768px) {
	html body { 
		font-size: 18px;
		.content-box {
			margin-top: -110px;
			padding-top: 110px;
		}
		.dark-content-box {
			.modalBtn-box {height: 418px;}
			.content-block {
				.landscapeThumb {}
			}
		}
	}
}
// BOOTSTRAP LARGE
@media only screen and (min-width: 992px) {
	html body { 
		font-size: 19px;
		.content-box {
			margin-top: -120px;
			padding-top: 120px;
		}
		.dark-content-box {
			.modalBtn-box {height: 273px;}
			.content-block {
				.landscapeThumb {
					.modalBtn-box {
						height: 250px;
						.link-icon {font-size: 1em;}
					}
				}
				img.txt-wrap {
					max-width: 60%;
					float: right;
					margin-left: 15px;
				}
			}	
		}
	}	
}
// BOOTSTRAP x-LARGE
@media only screen and (min-width: 1200px) {
	html body {
		font-size: 20px;
		.content-box {
			margin-top: -120px;
			padding-top: 120px;
		}
		.dark-content-box {
			.modalBtn-box {height: 335px;}
			.content-block {
				.landscapeThumb {
					.modalBtn-box {height: 185px;}
				}
			}
		}
	}
}