html {
	body {
		font-family: $font;
		font-size: 14px;
		color: $color-2;
		margin: 0;
		padding: 0;
		position: relative;
		scroll-behavior: smooth;
		.content-box {
			background-color: rgba($color-4, .85);
			border-radius: 4px;
			margin-top: -120px;
			padding-top: 120px;
			.content-block {
				display: block;
				position: relative;
				margin-top: 20px;
				padding: 100px 0 180px;
				min-height: calc(100vh - 310px);
				border-top: 1px solid $color-2;
				& > .valign {min-height: calc(100vh - 310px);}
				.image.primary {display: none;}
				h2 {
					font-weight: 700;
					font-size: 2em;
					text-transform: uppercase;
				}
				h3 {
					font-size: 1.5em; 
					margin: 60px auto 10px;
					text-align: center;
					font-weight: 300;
				}
				p span.para-intro {
					font-style: italic;
					font-weight: 500;
					font-size: 1.25em;

				}
				a {
					color: $color-6;
					font-weight: 500;
					font-style: italic;
					transition-duration: .5s;
					&:hover {
						transition-duration: .5s
					}
				}
				hr { 
					border-top: 1px solid $color-2;
					width: 40%;
					margin: 10px auto 20px;
				}
			}
			#contact {
				& > .valign {height: 100%;}
			}
		}
	}
	&.is-loading {
		body {
			*, *:before, *:after {
				animation: none !important;
				transition: none !important;
			}
		}
	}
}

// Misc formatting

.clearer {clear: both;}

.spacer-20px {height: 20px;}

.text-clr-1 {color: $color-1;}
.text-clr-2 {color: $color-2;}
.text-clr-3 {color: $color-3;}
.text-clr-4 {color: $color-4;}
.text-clr-5 {color: $color-5;}
.text-clr-6 {color: $color-6;}
.text-keyword{text-transform: uppercase;}

.valign {
	height: 100%;
	width: 100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
}

.btn {
	padding: 8px 25px;
	margin: 20px auto;
    border-radius: 60px;
    display: block;
    background-color: $color-2;
    color: $color-4;
    font-size: 1.15em;
	text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba($color-5, 0.06),
              0 2px 10px 0 rgba($color-5, 0.07);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
	&:hover {
		transform: translateY(1px);
		background-color: $color-6;
		box-shadow: 0 1px 1px 0 rgba($color-5, 0.10),
				0 1px 1px 0 rgba($color-5, 0.09);
		-webkit-transition: all 500ms ease;
		transition: all 500ms ease;
	}
	i {display: block;}
	span { 
		display: block;
		float: right;
		margin-top: 7px;
	}
}
// @media (max-width: 768px) {
//     .btn { 
// 		width:100%;
// 		span { margin-right: 10%; }
// 	}
// }

// Next button
.goto-next {
	// @include vendor('transition', 'background-color #{_duration(transition)} ease-in-out');
	background-color: $color-2;
	background-image: url('../images/arrow.svg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 2.25em;
	border-radius: 100%;
	border: 0;
	bottom: 50px;
	display: block;
	width: 4em;
	height: 4em;
	left: 50%;
	line-height: 4em;
	margin-left: -2em;
	overflow: hidden;
	position: absolute;
	z-index: 10;
	// margin: 10px auto;
	text-indent: 4em;
	white-space: nowrap;
	transition-duration: .5s;

	&:hover {
		background-color: $color-6;
		transition-duration: .5s;
	}
}

/* Main BG */

.main-bg {
	background-attachment:		fixed,							fixed;
	background-position:		top left,						center center;
	background-repeat:			repeat,							none;
	background-size:			auto,							cover;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: -9;

	&.active {
		opacity: 1;
	}
}

// BANNER
#banner {
	height: 100vh;
	 h3 {
		text-transform: uppercase;
		font-weight: 700;
		font-size: .85em;
		color: $color-2;
	 }
	 h1 { 
		font-weight: 100;
		text-align: center;
		font-size: 2.5em;
		color: $color-2;
	}
}
.banner-title {
	background-color: rgba($color-4, .85);
	display: inline-block;
    border-radius: 4px;
	padding: 20px 30px;
	text-align: center;
}
#banner .banner-title {
	opacity: 0;
	animation: .75s ease-out forwards slideUpFade;
}
@keyframes slideUpFade {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

// WORK
#work {
	.player-box {
		padding:56.25% 0 0 0;
		position:relative;
		border: 1px solid rgba($color-2, .5);
	}
	em {font-weight: 500;}
}

// ABOUT
#about {
	img {
		width: 40%;
		height: auto;
		float: right;
		border: 1px solid rgba($color-2, .5);
		margin: 0 0 20px 20px;
	}
}



// CONTACT


/* ///// inputs /////*/

#contactForm { overflow: hidden; }

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.65em;
    color: $color-4;
    top: 2px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 100%;
    margin: .5rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
}

.styled-input label {
    color: #aaa;
    padding: 0 10px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide { 
    width: 100%;
    max-width: 100%;
}

input,
textarea {
    padding: 10px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: rgba($color-2, .75);
    color: $color-4;
    border-radius: 4px;
}

// input:focus,
// textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 8em;
}

.input-container {
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {float: right;}
@media (max-width: 768px) {
    .submit-btn {
        float: none;
        text-align:center;
		margin: .5rem 0;
    }
}

#postSent, #postError {
	height: 0;
	width: 100%;
	overflow: hidden;
    background-color: rgba($color-2, .75);
	color: $color-4;
    border-radius: 4px;
	padding: 0px 40px;
	h4 {
		width: 100%;
		font-weight: 700;
		font-size: 2em;
	}
	hr { 
		border-top: 1px solid $color-1;
		width: 40%;
		margin: 25px auto;
	}
}

// MODALS
.modal-backdrop.fade {
	background-color: $color-4;
	opacity:0.8 !important;
 }
 .modal .modal-dialog .modal-content {
	background-color: $color-2;
	color: $color-1;
	padding: 60px;
	height: auto;
	h2 {text-align: center;}
	a {
		color: $color-3;
		font-weight: 500;
		font-style: italic;
	}
	hr { 
		border-top: 1px solid $color-1;
		width: 40%;
		margin: 15px auto 25px;
	}
}
.modal-content {
	-webkit-box-shadow: 0px 10px 15px 0px rgba($color-5,0.25);
	-moz-box-shadow: 0px 10px 15px 0px rgba($color-5,0.25);
	box-shadow: 0px 10px 15px 0px rgba($color-5,0.25);
}
.modal-close {
	position: absolute;
	bottom: -42px;
	right: 10px;
	font-size: 3em;
	color: $color-6;
	z-index: 9999;
	padding: 7px;
	text-shadow: 0 0 3px #666;
	background-color: rgba(0,0,0,0);
	opacity: 1;
	font-weight: 100;
	&:hover {
		color: $color-2;
		text-decoration: none;
		cursor: pointer;
	}
}

@media (orientation: landscape) {}
@media (orientation: portrait) {}

@media only screen and (min-width: 576px) {
	
	html body { 
		font-size: 15px;
		.content-box {
			margin-top: -130px;
			padding-top: 130px;
		}
	}
	// Next button
	.goto-next {
		background-size: 2.5em;
		bottom: 50px;
	}
	//BANNER
	#banner {
		h1 {font-size: 2.8em;}
		h3 {font-size: 1em;}
	}
}

@media only screen and (min-width: 768px) {
	
	html body { 
		font-size: 16px;
		.content-box {
			margin-top: -85px;
			padding-top: 85px;
		}
	}
	// Next button
	.goto-next { bottom: 10px; }
	//BANNER
	#banner {
		h1 {font-size: 4em;}
		h3 {font-size: 1.4em;}
	}

	// CONTACT FORM
	input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
		font-size: 0.75em;
		top: -5px;
	}
	.styled-input {	margin: 1rem 0; }
	.styled-input label {
		padding: 1.3rem 30px 1rem 30px;
		top: 10px;
	}
	input,
	textarea {
		padding: 30px;
		font-size: 1rem;
	}
	textarea { min-height: 10em; }
}
@media only screen and (min-width: 992px) {
	html body { 
		font-size: 17px;
		.content-box {
			margin-top: -90px;
			padding-top: 90px;
		}
	}

	//BANNER
	#banner {
		h1 {font-size: 4.5em;}
		h3 {font-size: 1.6em;}
	}
}
@media only screen and (min-width: 1200px) {
	html body {
		font-size: 18px;
		.content-box {
			margin-top: -100px;
			padding-top: 100px;
		}
	}

	//BANNER
	#banner {
		h1 {font-size: 5.5em;}
		h3 {font-size: 2em;}
	}
}