$color-1: #d8d8d8; //light grey
$color-2: #425664; //slate blue
$color-3: #cc9b51; //gold
$color-4: #fff6e5; //white
$color-5: #24261d; //black
$color-6: #7f3a2c; //tomato red

// Font families
$font: 'Raleway', sans-serif;
$font-display: 'Oswald', sans-serif;