footer {
	height: calc(100vh - 22px);
	strong {
		font-weight: 700;
		color: rgba($color-2, .5);
	}
	.social-links a img {height:40px;}
}


@media (orientation: landscape) {}
@media (orientation: portrait) {}

@media only screen and (min-width: 576px) {}
@media only screen and (min-width: 768px) {}
@media only screen and (min-width: 922px) {}
@media only screen and (min-width: 1200px) {}