.social-links {
  a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    padding: 0 10px;
    color: $color-6;
    transition-duration: .3s;
    &:hover {
      // color: $color-3;
      transform: scale(1.1,1.1);
      cursor: pointer;
      transition-duration: .3s;
    }
    img {
      margin: 0px 0 0 -10px;
      height: 55px;
      transition-duration: .3s;
      &:hover {
        opacity: 0.5;
        // transform: scale(1.1,1.1);
        cursor: pointer;
        transition-duration: .3s;
      }
    }
  }
}
footer {
  .social-links {
    a {
      img {margin: 5px 0 0;}
    }
  }
}