.social-links {
  a {
    text-decoration: none;
    padding: 0 10px;
    color: $color-6;
    transition-duration: .5s;
    &:hover {
      color: $color-3;
      cursor: pointer;
      transition-duration: .5s;
    }
  }
}
