@charset "utf-8";

img, object, embed, video {
	max-width: 100%;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}



/* ---- Breakpoints set up for Bootstrap ---- */


/* -- Extra Small Layout - 767px and below -- */





h1 {
	font-size: 3em;
}
h2 {
	font-size: 2.25em;
}
h3 {font-size: 1.4em;}
h4 {font-size: 3em;}
h5 {font-size: 2.25em;}
h6 {font-size: 1.15em;}


/*---- HEADER ----*/
.header {
	height: 60px;
	background-color: #fff;
	-moz-box-shadow: 0 0px 8px #999;
	-webkit-box-shadow: 0 0px 8px #999;
	box-shadow: 0 0px 8px #999;
	margin: 0;
	width: 100%;
	position: relative;
	top: 0;
	z-index: 100;
}
.hdr-left {
	height: 40px;
	margin-top: 10px;
	/*margin-left: 0;*/
	padding-left: 0px;
}
.headlogo {
	display: block;
	min-width: 100px;
	height: 40px;
	background: url(../images/xs-voya-logo.png) no-repeat top left;
	border-style: none;
}
.hdr-right {
	height: 40px;
	margin-top: 15px;
	/*margin-left: 0;*/
	padding-left: 0px;
}
.hdr-title {
	text-align: right;
	font-size: 1.1em;
	font-weight: 100;
	line-height: 1em;
}
.hdr-sub {
	text-align: right;
	font-size: .9em;
	font-weight: 700;
	line-height: 1em;
}
.hdr-right * {
	margin: 0;
	overflow: all;
}


/*---- SOLID COLOR CONTAINERS ----*/
.color-box {
	color: #fff;
	padding:30px 0;
}
.cb-desc {
	font-size: 1.2em;
	font-weight: 100;
	margin: 30px 0;
	text-align: center;
}
.cb-subtitle {
	color: #fff;
	font-size: 2.75em;
	font-weight: 300;
	text-align: center;
}
.cb-footnote {
	color: #fff;
	font-size: 1em;
	font-weight: 100;
	text-align: center;
	margin: 30px 0;
}
.cb-btn, .cb-btn:link {
	display: block;
	margin: 30px auto;
	padding: 10px;
	width: 200px;	
	color: #fff;
	text-decoration: none;
	text-align: center;
	font-size: 1.15em;
	font-weight: 500;
	border: 1px solid #fff;
	outline: 0;
	background-color: rgba(255,255,255,0);
	transition-duration: 0.5s;
}
.cb-btn:visited {
	color: #fff;
	text-decoration: none;
	outline: 0;
	transition-duration: 0.5s;
}
.cb-btn:hover {
	color: #ffffff;
	text-decoration: none;
	outline: 0;
	border: 1px solid #ffffff;
	background-color: rgba(255,255,255,.25);
	transition-duration: 0.5s;
}
.cb-btn:active {
	color: #fff;
	text-decoration: none;
	outline: 0;
	transition-duration: 0.5s;
}


/*---- SOLID WHITE CONTAINERS ----*/
.white-box {
	color: #333;
	padding:30px 0;
}
.wb-desc {
	color: #333;
	font-size: 1.2em;
	font-weight: 100;
	line-height: 1.2em;
	margin: 10px 0;
}
.wb-circ-push {
	width: 100px;
    height: 100px;
    z-index: 100;
    position: absolute;
    display: table;
    top: -80px;
    left: -moz-calc(50% - 50px);
	left: -webkit-calc(50% - 50px);
	left: -o-calc(50% - 50px);
	left: calc(50% - 50px);
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid #fff;
}
.wb-circ-push-teal {
    background-color: #0097a8;
}
.wb-circ-push-org {
    background-color: #f58000;
}
.wb-circ-push-violet {
    background-color: #b73f7c;
}
.wb-circ-push-gold {
    background-color: #ffc700;
}
.wb-circ-push p {
	display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 5em;
}
.wb-rule {
	width: 50%;
	border-color: #551b57;
}
.wb-btn:link {
	display: block;
	margin: 0px auto;
	padding: 10px;
	width: 200px;	
	color: #fff;
	text-decoration: none;
	text-align: center;
	font-size: 1.15em;
	font-weight: 500;
	outline: 0;
	transition-duration: 0.5s;
}
.wb-btn:visited {
	color: #fff;
	text-decoration: none;
	outline: 0;
	transition-duration: 0.5s;
}
.wb-btn:hover {
	color: #fff;
	text-decoration: none;
	outline: 0;
	transition-duration: 0.5s;
}
.wb-btn:active {
	color: #fff;
	text-decoration: none;
	outline: 0;
	transition-duration: 0.5s;
}
.sess-icn-label {
	font-size: 1em;
	line-height: 1.2em;
	font-weight: 400;
	margin: 0 0 5px 0;
}
.sess-spkr-name {
	font-size: 1.8em;
	font-weight: 600;
}
.sess-date {
	font-size: 1.35em;
	line-height: 1.2em;
	margin-bottom: 30px;
	font-weight: 600;
}
.info-box {
	position: relative;
	margin-top: 20px;
	margin-bottom: 40px;
	border-top: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
}
.info-box li {
	margin-bottom: 10px;
}
.info-btn {
	display: block;
	color: #fff;
	font-size: 2em;
	text-decoration: none;
	text-align: center;
	position: absolute;
	top: -20px;
    left: -moz-calc(50% - 20px);
	left: -webkit-calc(50% - 20px);
	left: -o-calc(50% - 20px);
	left: calc(50% - 20px);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
    height: 40px;
    width: 40px;
	transition-duration: 0.5s;
}
.info-btn:hover {
	transition-duration: 0.5s;
}
.info-btn:link, .info-btn:visited, .info-btn:hover, .info-btn:active {
	outline: 0;
}
.download-box {
	width: 100px;
	margin:20px auto 0 auto;
}
.download-btn {
	display: block;
	color: #fff;
	font-size: 2.5em;
	padding: 10px;
	margin: 0 auto 10px auto;
	text-decoration: none;
	text-align: center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
    height: 70px;
    width: 70px;
	transition-duration: 0.5s;
}
.download-btn:hover {
	color: #fff;
	transition-duration: 0.5s;
}
.download-btn:link, .download-btn:visited, .download-btn:hover, .download-btn:active {
	outline: 0;
}
.violet-btn, .violet-btn:link {
	background-color: rgba(183,63,124,1);
	border: 1px solid rgba(183,63,124,1);
	transition-duration: 0.5s;
}
.violet-btn:hover {
	background-color: rgba(85,27,87,1);
	transition-duration: 0.5s;
}
.teal-btn, .teal-btn:link {
	background-color: rgba(0,151,169,1);
	border: 1px solid rgba(0,151,169,1);
	transition-duration: 0.5s;
}
.teal-btn:hover {
	background-color: rgba(20,90,123,1);
	transition-duration: 0.5s;
}
.org-btn, .org-btn:link {
	background-color: rgba(245,128,0,1);
	border: 1px solid rgba(245,128,0,1);
	transition-duration: 0.5s;
}
.org-btn:hover {
	background-color: rgba(215,84,38,1);
	transition-duration: 0.5s;
}
.dkorg-btn, .dkorg-btn:link {
	background-color: rgba(215,84,38,1);
	border: 1px solid rgba(215,84,38,1);
	transition-duration: 0.5s;
}
.dkorg-btn:hover {
	background-color: rgba(183,62,20,1);
	transition-duration: 0.5s;
}
.gold-btn, .gold-btn:link {
	background-color: rgba(255,199,0,1);
	border: 1px solid rgba(255,199,0,1);
	transition-duration: 0.5s;
}
.gold-btn:hover {
	background-color: rgba(255,160,0,1);
	transition-duration: 0.5s;
}

/*---- PARALLAX IMAGE AREA STYLES ----*/

.plx-bkgd-img {
	width: 100%;
	display: table;
	background: transparent;
	overflow-x: hidden;
}
#plx-1 {
	height: -moz-calc(100vh - 60px);
	height: -webkit-calc(100vh - 60px);
	height: -o-calc(100vh - 60px);
	height: calc(100vh - 60px);
}
#plx-2 {
	height: 40vh;
}
#plx-3 {
	height: 40vh;
}
#plx-4 {
	height: 40vh;
}
#plx-5 {
	height: 40vh;
}
#plx-6 {
	height: 40vh;
}

.sess-title-spacer {
	margin-top: 30px;
	margin-bottom: 80px;
}
.plx-icn-label {
	color: #fff;
	font-size: 1em;
	line-height: 1.2em;
	font-weight: 400;
	margin: 0 0 15px 0;
}
.plx-sub {
	font-size: 1.2em;
	font-weight: 700;
	line-height: 1.1em;
	color: #d75426;
	display: block;
	margin: 15px 0;
	text-align: center;
}
.plx-para {
	font-size: 1em;
	font-weight: 300;
	line-height: 1.5em;
	color: #333;
	display: block;
	margin: 30px 0 0 0;
	text-align: center;
}
.plx-title-spacer {
	margin-bottom: 60px;
	margin-top: 60px;
}
.plx-content {
	display: table-cell;
	vertical-align: middle;
}
/*.plx-light .plx-btn, .plx-light .plx-btn:link, .plx-light .plx-btn:hover {
	border: 1px solid #fff;
	background-color: rgba(255,255,255,.5);
}
.plx-light .plx-btn:hover {
	background-color: rgba(255,255,255,.25);
}*/

.plx-btn, .plx-btn:link {
	display: block;
	margin: 10px auto;
	padding: 0px 55px;
	width: 200px;
	text-decoration: none;
	text-align: left;
	font-size: 1.15em;
	font-weight: 500;
	outline: 0;
	transition-duration: 0.5s;
}
.plx-btn:visited {
	text-decoration: none;
	outline: 0;
	transition-duration: 0.5s;
}
.plx-btn:hover {
	text-decoration: none;
	outline: 0;
	transition-duration: 0.5s;
}
.plx-btn:active {
	text-decoration: none;
	outline: 0;
	transition-duration: 0.5s;
}
.plx-btn::first-letter {
	font-size: 1.2em;
	font-weight: 600;
}
.plx-btn-teal, .plx-btn-teal:link, .plx-btn-teal:hover {
	color: #333;
	border: 1px solid #333;
	background-color: rgba(255,255,255,.5);
}
.plx-btn-teal:hover {
	background-color: rgba(0,151,169,.75);
	color: #fff;
}
.plx-btn-org, .plx-btn-org:link, .plx-btn-org:hover {
	color: #333;
	border: 1px solid #333;
	background-color: rgba(255,255,255,.5);
}
.plx-btn-org:hover {
	background-color: rgba(245,128,0,.75);
	color: #fff;
}
.plx-btn-violet, .plx-btn-violet:link, .plx-btn-violet:hover {
	color: #333;
	border: 1px solid #333;
	background-color: rgba(255,255,255,.5);
}
.plx-btn-violet:hover {
	background-color: rgba(183,63,124,.75);
	color: #fff;
}
.plx-btn-gold, .plx-btn-gold:link, .plx-btn-gold:hover {
	color: #333;
	border: 1px solid #333;
	background-color: rgba(255,255,255,.5);
}
.plx-btn-gold:hover {
	background-color: rgba(255,199,0,.75);
	color: #fff;
}


/*---- BLOCK SPECIFIC STYLES ----*/

.lndg-title-box {
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,.75) 25%, rgba(255,255,255,.5) 75%, rgba(125,185,232,0) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,.75) 25%,rgba(255,255,255,.5) 75%,rgba(125,185,232,0) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,.75) 25%,rgba(255,255,255,.5) 75%,rgba(125,185,232,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=0 );
	margin: 25vh 0 0 0;
	padding: 0 100px;
}

/*- form block -*/

.contact-title p {
	color: #fff;
	text-align: center;
	font-size: 2.25em;
	line-height: 1.1em;
	font-weight: 100;
	margin: 50px 0 0 0;
}
.contact-footnote p {
	color: #fff;
	text-align: right;
	font-size: .85em;
	line-height: 1em;
	font-weight: 700;
	margin: 0 0 50px 0;
}
.form-frame {
	width: 100%;
	height: 914px;
}



/*---- FOOTER ----*/
.dsclsr-box {
	padding: 40px;
	color: #6e6e6e;
	font-size: .85em;
}
.footer {
	border-top: 1px solid #e2e2e2;
	background-color: #fff;
	height: 36px;
	width: 100%;
	margin: 0;
	/*position:fixed;*/
	bottom: 0px;
	clear: both;
}
.ftr-left {
	height: 36px;
	background-color: #fff;
	margin: 0;
	padding: 0;
}
.ftr-right {
	height: 36px;
	overflow: hidden;
}
.socialmedia{
	display: block;
	width: 27px;
	height: 36px;
	float: left;
	border-style: none;
}
#ftr-fb-icn {
	background: url(../images/footer/xs-fb.png) no-repeat top left;
}
#ftr-twit-icn {
	background: url(../images/footer/xs-twit.png) no-repeat top left;
}
#ftr-ytube-icn {
	background: url(../images/footer/xs-ytube.png) no-repeat top left;
}
#ftr-google-icn {
	background: url(../images/footer/xs-google.png) no-repeat top left;
}
.ftrbarlogo {
	display: block;
	float: right;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 36px;
	border-style: none;
	background: url(../images/footer/xs-lowerbar.png) no-repeat top right #f58000;
}











/* -- Small Layout - 768px and up -- */

@media only screen and (min-width: 768px) {

	.js div#preloader { }
	.js div#preloader .loader-container {
	    top: 40%;
	    width: 300px;
	    margin-left: -150px;
	}
	.js div#preloader .loader-container img {
	    display: inline;
	    margin: 10px;
	}

	h1 {
		font-size: 3.5em;
	}
	h2 {
		font-size: 2.5em;
	}
	h3 {font-size: 1.8em;}
	h4 {font-size: 4.5em;}
	h5 {font-size: 2.5em;}
	h6 {font-size: 1.15em;} 


	/*---- HEADER ----*/
	.header {
		height: 60px;
		position: relative;
	}
	.hdr-left {
		height: 50px;
		margin-top: 5px;
	}
	.headlogo {
		min-width: 125px;
		height: 50px;
		background: url(../images/hdr-voya-logo.png) no-repeat top left;
	}
	.hdr-right {
		height: 50px;
		margin-top: 10px;
	}
	.hdr-title {
		font-size: 1.6em;
	}
	.hdr-sub {
		font-size: 1.1em;
	}


	/*---- SOLID COLOR CONTAINERS ----*/
	.color-box {
		padding:60px 0;
	}
	.cb-desc {
		font-size: 1.75em;
	}
	.cb-footnote {
		font-size: 1.2em;
	}
	.cb-btn:link {}

	
	/*---- PARALLAX IMAGE AREA STYLES ----*/
	.plx-sub {
		font-size: 1.5em;
	}
	.plx-para {
		font-size: 1.25em;
	}

	/*---- BLOCK SPECIFIC STYLES ----*/

	.lndg-title-box {
		margin: 25vh 0 0 0;
		padding: 20px 10%;
	}

	/*- form block -*/

	.contact-title p {
		font-size: 2.25em;
		line-height: 1.1em;
		margin: 70px 0 0 0;
	}
	.contact-footnote p {
		margin: 0 0 70px 0;
	}
	.form-frame {
		width: 100%;
		height: 900px;
	}

}











/* -- Medium Layout - 992px and up -- */

@media only screen and (min-width: 992px) {
	
	h1 {
		font-size: 4em;
	}
	h2 {
		margin-top: 0;
		font-size: 3em;
	}

	/*---- HEADER ----*/
	.header {}
	.hdr-left {}
	.headlogo {}
	.hdr-right {
		height: 50px;
		margin-top: 8px;
	}
	.hdr-title {
		font-size: 1.8em;
	}
	.hdr-sub {
		font-size: 1.2em;
	}
	
	.cb-desc {
		font-size: 2em;
	}

	/*---- PARALLAX IMAGE AREA STYLES ----*/
	.plx-sub {
		font-size: 1.7em;
		text-align: left;
	}
	.plx-para {
		font-size: 1.4em;
		text-align: left;
	}
	.plx-btn, .plx-btn:link {
		margin: 10px 0 0 50px;
		font-size: 1.5em;
		padding: 5px 50px;
		width: 220px;
	}
	#plx-1 h2 {
		text-align: left;
	}

	/*---- BLOCK SPECIFIC STYLES ----*/

	.lndg-title-box {
		background: transparent;
		margin: 0;
		padding: 0 7%;
	}
	.lndg-para-box {
		margin: 0;
		padding: 0 7%;
	}

	/*- form block -*/

	.contact-title p {
		font-size: 2.25em;
		line-height: 1.1em;
		margin: 70px 0 0 0;
	}
	.contact-footnote p {
		margin: 0 0 70px 0;
	}

	.form-frame {
		width: 100%;
		height: 520px;
	}

}


	








/* -- Large Layout - 1200px and up -- */

@media only screen and (min-width: 1200px) {

	h1 {
		font-size: 5em;
	}
	h2 {
		font-size: 3.5em;
	}

	/*---- PARALLAX IMAGE AREA STYLES ----*/
	.plx-sub {
		font-size: 2em;
	}
	.plx-para {
		font-size: 1.6em;
	}

	/*---- BLOCK SPECIFIC STYLES ----*/

	.lndg-title-box {
		margin: 0 0 0 10%;
		padding: 0;
	}
	.lndg-para-box {
		margin: 0 0 0 10%;
		padding: 0;
	}

}



/* ---- EXTRA NARROW BANNER WIDTH (<560px) ---- */

@media only screen and (max-width: 480px) {
	h2 {font-size: 1.8em;}
	.plx-sub {font-size: 1em;}
}