@charset "UTF-8";
/* CSS Document */
html, body{
	height: 100%;
	height: 100vh;
	width: 100%;
	max-width: 100vw;
	margin: 0;
	padding: 0;
	font-family: "proxima-nova-n1", 'proxima-nova', 'Raleway', sans-serif;
	background: transparent;
}
body {
	overflow-x: hidden;
}
.row {
	max-width: 100vw;
}
.border-bottom {
	border-bottom: 1px solid #6e6e6e;
}
.top-border {
	border-top: 1px solid #6e6e6e;
}
p {
	color: #888;
}
a {color: #fff;}
a:hover, a:focus {color: #fff; text-decoration: none;}
a.orange {color: #fb8000;}
a.orange:hover {color: #fb8000; text-decoration: none;}
a[href^="tel"] {
	color: inherit; 
	text-decoration: none;
}
h1 {
	font-family: "proxima-nova-n1", 'proxima-nova', 'Raleway', sans-serif;
	font-weight: 100;
	margin: 0;
	padding: 0;
	text-align: center;
}
h2 {
	font-family: "proxima-nova-n1", 'proxima-nova', 'Raleway', sans-serif;
	font-weight: 100;
	margin: 0;
	padding: 0;
	text-align: center;
	/*text-shadow: -1px -1px 0px rgba(255, 255, 255, .1);*/
}
h3 {
	font-family: "proxima-nova-n1", 'proxima-nova', 'Raleway', sans-serif;
	font-style: italic;
	font-weight: 300;
}
h4 {
	font-family: "proxima-nova-n1", 'proxima-nova', 'Raleway', sans-serif;
	font-weight: 700;
	text-align: left;
}
h5 {
	font-weight: 300;
	text-align: center;
	margin: 0;
	padding: 0;
}
h6 {font-weight: 700;}
.footnote {
	font-size: .85em;
	text-align: center;
}

.bullets {color: #888888;}

.shadow {text-shadow: 1px 1px 5px rgba(55, 55, 55, 1);}
.glow {text-shadow: 0px 0px 1px rgba(255, 255, 255, .75);}/*more like outline....*/
.box-shad-top {
	-webkit-box-shadow: 0px -6px 8px 0px rgba(36,28,18,0.2);
	-moz-box-shadow: 0px -6px 8px 0px rgba(36,28,18,0.2);
	box-shadow: 0px -6px 8px 0px rgba(36,28,18,0.2);
}
.box-shad-btm {
	-webkit-box-shadow: 0px 6px 8px 0px rgba(36,28,18,0.2);
	-moz-box-shadow: 0px 6px 8px 0px rgba(36,28,18,0.2);
	box-shadow: 0px 6px 8px 0px rgba(36,28,18,0.2);
}

.border-bt {border-bottom: 1px dotted #551B57;}

.spacer-10 {height: 10px;}
.spacer-20 {height: 20px;}
.spacer-30 {height: 30px;}
.spacer-40 {height: 40px;}
.spacer-50 {height: 50px;}
.spacer-60 {height: 60px;}
.spacer-80 {height: 60px;}
.spacer-100 {height: 100px;}

.js div#preloader { 
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1031;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fff;
}
.js div#preloader .loader-container { 
    position: inherit;
    top: 30%;
    left: 50%;
    width: 150px;
    margin-left: -75px;
}
.js div#preloader .loader-container img {
    display: block;
    margin: 30px auto;
}
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
.img-resp {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0px auto;
}
.img-resp-50 {
	display: block;
	max-width: 50%;
	height: auto;
	margin: 0px auto;
}

/*---- BASE COLORS & BACKGROUND COLORS ----*/
.content-org {background-color: #f58000;}
.content-drkorg {background-color: #d75426;}
.content-drkorange {background-color: #d75426;}
.content-org-grad {
	background: #f58000; /* Old browsers */
	background: -moz-linear-gradient(top, #f58000 0%, #d75426 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f58000 0%,#d75426 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f58000 0%,#d75426 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f58000', endColorstr='#d75426',GradientType=0 ); /* IE6-9 */
}
.content-ltblue {background-color: #76c5e4;}
.content-drkblue {background-color: #145a7b;}
.content-white {background-color: #fff;}
.content-teal {background-color: #0097a9;}
.content-magenta {background-color: #b63f7c;}
.content-plum {background-color: #551B57;}
.content-grey {background: linear-gradient(#fff, #e4e4e4);}

.orange {color: #fb8000;}
.drkorange {color: #d75426;}
.teal {color: #0097a9;}
.magenta {color: #b63f7c;}
.plum {color: #551b57;}
.drkblue {color: #145a7b;}
.ltblue {color: #76c5e4;}
.white {color: #fff;}
.vivi-grey {color: #333;}
.ltgrey {color: #ddd;}


/*---- SCROLL TO TOP BUTTON ----*/

.btn-lg {
    padding: 10px 16px !important;
    font-size: 18px !important;
    border-radius: 35px !important;
	line-height: 1.5 !important;
}
.btn-primary {
    color: #f58000 !important;
    background-color: #ffffff !important;
    border-color: #d75426 !important;
	z-index: 5 !important;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}


/*---- BUTTONS ----*/
.btn-contact {
	background-color: #fb8000;
	color: #fff !important;
	text-decoration: none;
	text-transform: uppercase;
	transition: all ease .5s;
	display: inline-block;
	position: absolute;
	right: 0;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
}
.btn-contact:hover {
	background-color: #d75426 !important;
	color: #fff !important;
	text-decoration: none !important;
}
.btn-contact:active {
	background-color: #d75426 !important;
	color: #fff !important;
	text-decoration: none !important;
}
.btn-contact:visited {
	background-color: #d75426 !important;
	color: #fff !important;
	text-decoration: none !important;
}
.btn-contact:focus {
	background-color: #d75426 !important;
	color: #fff !important;
	text-decoration: none !important;
}
/*---- basic colored buttons ----*/
.btn-vivi-basic {
	color: #fff;
	font-size: 1.0em;
	padding: 15px;
	text-decoration: none;
	text-transform: uppercase;
	transition: all ease .5s;
	display: inline-block;
	margin: 20px 0;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
}
.btn-vivi-basic:hover {
	color: #fff;
	text-decoration: none;
}
.btn-lndg {
	font-size: 1em;
	padding: 10px;
	width: 150px;
	margin: 10px 5px;
	text-align: center;
	color: #fff;
	background-color: rgba(255,255,255,.3);
	border: 1px solid #fff;
}
.btn-lndg:hover {
	background-color: rgba(255,255,255,.6);
}
.btn-white-trans {
	color: #fff;
	background-color: rgba(255,255,255,.3);
	border: 1px solid #fff;
}
.btn-white-trans:hover {
	background-color: rgba(255,255,255,.6);
}
.btn-orange {background-color: #fb8000;}
.btn-orange:hover {background-color: #d75426;}

.btn-drkorange {background-color: #d75426;}
.btn-drkorange:hover {background-color: #fb8000;}

.btn-teal {background-color: #0097a9;}
.btn-teal:hover {background-color: #145a7b;}

.btn-magenta {background-color: #b63f7c;}
.btn-magenta:hover {background-color: #551a57;}

.btn-plum {background-color: #551B57;}
.btn-plum:hover {background-color: #b63f7c;}

.btn-ltblue {background-color: #76c5e4;}
.btn-ltblue:hover {background-color: #145a7b;}

.btn-drkblue {background-color: #145a7b;}
.btn-drkblue:hover {background-color: #76c5e4;}

.btn-white {
	color: #f58000;
	background-color: #fff;
}
.btn-white:hover {background-color: #ccc;}
.btn-vivi-basic>i {
	font-size: 1.75em;
	display: block;
	float: left;
	margin: -5px 10px -5px 0;
}
/*---- END basic colored buttons ----*/

/*---- NAVIGATION ----*/
nav {
	text-transform: uppercase;
	font-weight: 300;
	box-shadow: 0 3px 8px -2px #999;
}
.navbar-default .navbar-nav>li>a.active {
	color: #fb8000;
}
.navbar-default .navbar-nav>li>a:hover {
	color: #d75426;
}/*---- END NAVIGATION ----*/

/*---- HERO/ICON SECTION ----*/
.hero {
	color: #fff;
	text-align: center;
	padding: 50px 0;
}
.hero p {
	font-size: 20px;
	padding: 10px 0 0 0;
	color: #fff;
}
.hero h1 {
    text-shadow: none;
    padding: 0 0 10px 0;
    color: #fff;
}
.hero-home {
    color: #d75426;
    text-align: center;
    padding: 50px 0;
    margin: auto;
}
.hero-home p {
	padding: 10px 0 0 0;
	color: #6e6e6e;
}
.hero-home h1 {
	padding: 10px 0 0 0;
	color: #d75426;
	text-shadow: none;
}
.icon-section {
	text-align: center;
	/* min-height: 325px; */
}
.icon-section-small {
	text-align: center;
	min-height: 250px;
}
.icon-section-small.eb-icon-section-small { min-height: 240px; }
.icon-section-small p {
	font-size: 1em;
	padding: 10px 0;
}
.icon-section.eb-icon-section { min-height: 240px; }
.icon-section p {
	font-size: 1em;
	padding: 10px 0;
}
.icon-container {
	font-size: 50px;
	border: 2px solid #fff;
	color: #fff;
	border-radius: 50px;
	width: 100px;
	height: 100px;
	display: table;
	text-align: center;
	position: absolute;
	top: -52px;
	left: calc(50% - 50px);
	z-index: 1;
}
.icon-container i {
	display: table-cell;
	vertical-align: middle;
}
.icon-shadow {
	border-radius: 100px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	width: 100px;
	height: 50px;
	display: table;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
	z-index: 0;
	background: transparent;
}
.icon-spacer {
	height: 60px;
}
.lm-btn-container {
	position: absolute;
    bottom:0;
    left:33%;
}
/*---- HERO ----*/

.bulb-bkgd {
	color: #fff;
	width: 100%;
	overflow-x: hidden;
}
.hero-gfx-box {
	display: flex;
	align-items: center;
	/*min-height: 100%;*/
}

/*---- PARALLAX IMAGE AREA STYLES ----*/
.plx-bkgd-img {
	width: 100%;
	margin: 0 0;
	display: table;
	background: transparent;
	overflow-x: hidden;
}
.plx-content {
	display: table-cell;
	vertical-align: middle;
}

}/*---- END PARALLAX IMAGE AREA STYLES ----*/

.section-anchor {
	padding: 25px 0;
	background-color: #fff;
}
.section-header {
	text-align: center;
}
.section-header h1 {
	border-bottom: 1px solid #fff;
	text-shadow: none;
	padding: 0 0 10px 0;
	color: #fff;
}
h1.no-underline {
	border-bottom: none;
}
.section-header h2 {
	color: #fff;
	text-transform: uppercase;
	text-shadow: none;
	padding: 10px 0 0 0;
	font-size: 1.65em;
}
.section-header i {
	color: #fff;
	font-size: 50px;
}

.section-header-teal {
    text-align: center;
}
.section-header-teal h1 {
    border-bottom: 1px dotted #008080;
    text-shadow: none;
    padding: 0 0 10px 0;
    color: #008080;
}
.section-header-teal i {
    color: #008080;
    font-size: 50px;
}
.sm {
    font-size: 1.7em;
	font-style: normal !important;
}
.med {
    font-size: 2.0em !important;
	font-style: normal !important;
}
.teal-sm {
	color: #0097a9;
	font-size: 1.7em;
	font-family: "proxima-nova-n1", 'proxima-nova', 'Raleway', sans-serif;
	text-align: center;
	font-weight: 100;
	padding-top: 10px;
}
.plum-sm {
	color: #551B57;
	font-size: 1.7em;
	font-family: "proxima-nova-n1", 'proxima-nova', 'Raleway', sans-serif;
	text-align: left;
	font-weight: 100;
	padding-top: 20px;
}
.circ-container {
	border: 2px solid #fff;
	color: #fff;
	border-radius: 60px;
	padding: 20px;
	width: 120px;
	height: 120px;
	margin-left: calc(100% - 120px);
	display: table;
	font-size: 1.5em;
	text-align: center;
}
.circ-container * {
	display: table-cell;
	vertical-align: middle;
}
.award-box {
	margin-top: 30px;
	margin-bottom: 30px;
}
.award-box img {
	transform: rotateY(90deg);
	opacity: 0;
}
.award-box p {
	margin-top: 20px;
	padding-left: 5px;
	font-size: 1em;
	font-weight: 500;
}

/*====VIDEO MODAL====*/
.vivi-modal .modal-dialog {
	padding: 0;
}
.vivi-modal .modal-dialog .modal-content {
	background-color: #fff;
	padding: 0;
	height: auto;
	margin-top: 25vh;
	position: relative;
}
.modal-content {
	-webkit-box-shadow: 0px 10px 15px 0px rgba(31,23,3,0.15);
	-moz-box-shadow: 0px 10px 15px 0px rgba(31,23,3,0.15);
	box-shadow: 0px 10px 15px 0px rgba(31,23,3,0.15);
}
.vivi-modal-close, .vivi-modal-unmute {
	position: absolute;
	color: #f58000;
	z-index: 9999;
}
.vivi-modal-close:hover, .vivi-modal-unmute:hover {
	color: #666;
	text-decoration: none;
	cursor: pointer;
}
.vivi-modal-close {
	padding: 7px;
	text-shadow: 0 0 3px #666;
	background-color: rgba(0,0,0,0);
	opacity: 1;
	font-weight: 100;
}
.vivi-modal-unmute {
	cursor: pointer;
	background: transparent;
	border: 1px solid #f58000;
	border-radius: 3px;
	background-color: rgba(255,255,255,1);
	padding: 1px 5px;
	font-weight: 700;
}
.modal-content {
	font-size: 0;
}
.vid-wrap {
	width: 100%;
	display: inline-block;
	border: 1px solid #ddd;
	position: relative;
}
.movie-push {
	margin-top: 56.25%;
}
.movie-container {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
}
.vid-wrap, .movie-container, .movie-player, .modal-content, .modal-dialog{
	border-radius: 4px;
}
.modal-backdrop.fade.in {
   background-color: #fff;
   opacity:0.8 !important;
}
.modal-backdrop.fade {
	opacity: 0;
}/*====VIDEO MODAL====*/

/*====FORM MODAL====*/
.vivi-form-modal .modal-dialog {
	padding: 0;
}
.vivi-form-modal .modal-dialog .modal-content {
	background-color: #76c5e4;
	padding: 0;
	height: auto;
	margin-top: 20vh;
	border-radius: 0;
}

/*====TAB WIDGET STYLES====*/
.nav-tabs > li {
	width: 50%;
}
.nav-tabs > li > a {
	color: #fff;
	text-align: center;
	background-color: #0097a9;
	border: 1px solid white;
}

/*---- FOOTER ----*/
.dsclsr-box {
	padding: 20px 0 10px;
	color: #6e6e6e;
}
.footer {
	-webkit-box-shadow: 0px -3px 6px 0px rgba(36,28,18,0.2);
	-moz-box-shadow: 0px -3px 6px 0px rgba(36,28,18,0.2);
	box-shadow: 0px -3px 6px 0px rgba(36,28,18,0.2);
	background-color: #fff;
	height: 36px;
	width: 100%;
	margin: 0;
	/*position:fixed;*/
	bottom: 0px;
	clear: both;
}
.ftr-left {
	height: 36px;
	background-color: #fff;
	margin: 0;
	padding: 0;
}
.ftr-right {
	height: 36px;
	overflow: hidden;
}
.socialmedia{
	display: block;
	width: 27px;
	height: 36px;
	float: left;
	border-style: none;
}
#ftr-fb-icn {
	background: url(../images/footer/fb.png) no-repeat top left;
}
#ftr-twit-icn {
	background: url(../images/footer/twit.png) no-repeat top left;
}
#ftr-ytube-icn {
	background: url(../images/footer/ytube.png) no-repeat top left;
}
#ftr-google-icn {
	background: url(../images/footer/google.png) no-repeat top left;
}
.ftrbarlogo {
	display: block;
	float: right;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 36px;
	border-style: none;
	background: url(../images/footer/logo-lowerbar.png) no-repeat top right #f58000;
}/* -- END footer styles -- */

@media (max-width: 1200px) {
	.lm-btn-container {
		position: absolute;
		bottom:0;
		left:30%;
	}
}
@media (max-width: 991px) {
	.icon-section {
		min-height: 350px;
	}
	.lm-btn-container {
		position:static;
		bottom:auto;
		left:auto;
		margin: 0 0 -10px 0;
	}
}
@media (max-width: 767px) {
	.icon-section {
		min-height: 360px;
	}
	.icon-section p {
		padding: 3px 0 0 0; 
	}
}